
//mixin
//個別でわざわざ分けているのは変数にすると読み込み時jsの方が先に走り動いてくれないので...

//2024年12月、ワークシートあり
mixin schedule-month-2024dec-worksheet-true
    li#section-1.subject-grid.section.course-section.main.clearfix(
                            data-number="1" 
                            data-id="767" 
                            data-for="section" 
                            data-sectionreturnid="0" 
                            data-sectionid="1"
                            )
                            .course-section-header.d-flex(
                              data-number="1" 
                              data-id="767" 
                              data-for="section_title"
                              )
                              .bulkselect.align-self-center.d-none(data-for="sectionBulkSelect")
                                input#sectionCheckbox767(
                                  data-bulkcheckbox="1" 
                                  data-action="toggleSelectionSection" 
                                  data-id="767" 
                                  type="checkbox"
                                  )
                                label.sr-only(for="sectionCheckbox767") 2024年12月：10 万ボルトの強さはどのくらい ?
                              .d-flex.align-items-start.position-relative
                                a#collapssesection1.btn.btn-icon.mr-1.icons-collapse-expand.justify-content-center.stretched-link(
                                  aria-label="2024年12月：10 万ボルトの強さはどのくらい ?"
                                  aria-controls="coursecontentcollapse1" 
                                  aria-expanded="true" 
                                  href="#coursecontentcollapse1" 
                                  data-for="sectiontoggler" 
                                  data-toggle="collapse" 
                                  role="button"
                                  )
                                  span.expanded-icon.icon-no-margin.p-2(title="折りたたむ")
                                    i.icon.fa.fa-chevron-down.fa-fw(aria-hidden="true")
                                  span.collapsed-icon.icon-no-margin.p-2(title="展開する")
                                    span.dir-rtl-hide
                                      i.icon.fa.fa-chevron-right.fa-fw(aria-hidden="true")
                                    span.dir-ltr-hide
                                      i.icon.fa.fa-chevron-left.fa-fw(aria-hidden="true")
                                h3#sectionid-767-title.sectionname.course-content-item.d-flex.align-self-stretch.align-items-center.mb-0(
                                  data-number="1" 
                                  data-id="767" 
                                  data-for="section_title"
                                  ) 2024年12月：10 万ボルトの強さはどのくらい ?
                              .sectionbadges.d-flex.align-items-center(data-region="sectionbadges")
                            #coursecontentcollapse1.content.course-content-item-content.collapse.show
                              .my-3(data-for="sectioninfo")
                                div(class="section_availability")
                              ul.section.m-0.p-0.img-text.d-block(data-for="cmlist")
                                li#module-1315.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1315" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月1週目：発電する動物はどうしているの？")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1315(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1315" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1315") 活動 10月1週目：発電する動物はどうしているの？ を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315"
                                                )
                                                span.instancename
                                                  | 10月1週目：発電する動物はどうしているの？
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月1週目：発電する動物はどうしているの？" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月1週目：発電する動物はどうしているの？ の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3614")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3615" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3615"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1316.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1316" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月2週目：10 万ボルトができること")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1316(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1316" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1316") 活動 10月2週目：10 万ボルトができること を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316"
                                                )
                                                span.instancename
                                                  | 10月2週目：10
                                                  |   万ボルトができること
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月2週目：10 万ボルトができること" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月2週目：10 万ボルトができること の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3616")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3617" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3617"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1317.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1317" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月3週目：フィードバック")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1317(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1317" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1317") 活動 10月3週目：フィードバック を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317"
                                                )
                                                span.instancename
                                                  | 10月3週目：フィードバック
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月3週目：フィードバック" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月3週目：フィードバック の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3618")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3619" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3619"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりませ
                                li#module-1973.activity.activity-wrapper.resource.hasinfo(
                                  data-id="1973" 
                                  data-for="cmitem" 
                                  class="modtype_resource"
                                  )
                                  .activity-item.focus-control(data-activityname="授業概要test")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1973(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1973" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1973") 活動 授業概要test を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.content.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/resource/view.php?id=1973")
                                        img.activityicon(
                                          alt="ファイル アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/core/1749448559/f/pdf?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_resource")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/resource/view.php?id=1973"
                                                )
                                                span.instancename
                                                  | 授業概要test
                                                  span.accesshide ファイル
                                              span.ml-1
                                                span.activitybadge.badge.badge-pill

                                                    //- li.subject-page-added-note.not-published
                                                    //-   .subject-page-added-note-head 
                                                    //-      .subject-page-added-note-head-title
                                                    //-         |授業の
                                                    //-         br
                                                    //-         |まとめシート
                                                    //-      .subject-page-added-note-head-icon 
                                                            
                                                    //-   .subject-page-added-note-content 
                                                    //-     |現在準備中です
                                                      //- a.subject-page-added-note-content-download(href="https://lms.waomirai.com/mod/resource/view.php?id=1973")
                                                      //-   i.fa-regular.fa-circle-down
                                                      //-   .subject-page-added-note-content-download-text
                                                      //-      |ダウンロードする  

//2026年12月、ワークシートあり
mixin schedule-month-2026oct-worksheet-true
    li#section-1.subject-grid.section.course-section.main.clearfix(
                            data-number="1" 
                            data-id="767" 
                            data-for="section" 
                            data-sectionreturnid="0" 
                            data-sectionid="1"
                            )
                            .course-section-header.d-flex(
                              data-number="1" 
                              data-id="767" 
                              data-for="section_title"
                              )
                              .bulkselect.align-self-center.d-none(data-for="sectionBulkSelect")
                                input#sectionCheckbox767(
                                  data-bulkcheckbox="1" 
                                  data-action="toggleSelectionSection" 
                                  data-id="767" 
                                  type="checkbox"
                                  )
                                label.sr-only(for="sectionCheckbox767") 2026年10月：10 万ボルトの強さはどのくらい ?
                              .d-flex.align-items-start.position-relative
                                a#collapssesection1.btn.btn-icon.mr-1.icons-collapse-expand.justify-content-center.stretched-link(
                                  aria-label="2026年10月：10 万ボルトの強さはどのくらい ?"
                                  aria-controls="coursecontentcollapse1" 
                                  aria-expanded="true" 
                                  href="#coursecontentcollapse1" 
                                  data-for="sectiontoggler" 
                                  data-toggle="collapse" 
                                  role="button"
                                  )
                                  span.expanded-icon.icon-no-margin.p-2(title="折りたたむ")
                                    i.icon.fa.fa-chevron-down.fa-fw(aria-hidden="true")
                                  span.collapsed-icon.icon-no-margin.p-2(title="展開する")
                                    span.dir-rtl-hide
                                      i.icon.fa.fa-chevron-right.fa-fw(aria-hidden="true")
                                    span.dir-ltr-hide
                                      i.icon.fa.fa-chevron-left.fa-fw(aria-hidden="true")
                                h3#sectionid-767-title.sectionname.course-content-item.d-flex.align-self-stretch.align-items-center.mb-0(
                                  data-number="1" 
                                  data-id="767" 
                                  data-for="section_title"
                                  ) 2026年10月：10 万ボルトの強さはどのくらい ?
                              .sectionbadges.d-flex.align-items-center(data-region="sectionbadges")
                            #coursecontentcollapse1.content.course-content-item-content.collapse.show
                              .my-3(data-for="sectioninfo")
                                div(class="section_availability")
                              ul.section.m-0.p-0.img-text.d-block(data-for="cmlist")
                                li#module-1315.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1315" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月1週目：発電する動物はどうしているの？")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1315(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1315" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1315") 活動 10月1週目：発電する動物はどうしているの？ を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315"
                                                )
                                                span.instancename
                                                  | 10月1週目：発電する動物はどうしているの？
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月1週目：発電する動物はどうしているの？" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月1週目：発電する動物はどうしているの？ の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3614")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3615" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3615"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1316.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1316" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月2週目：10 万ボルトができること")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1316(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1316" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1316") 活動 10月2週目：10 万ボルトができること を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316"
                                                )
                                                span.instancename
                                                  | 10月2週目：10
                                                  |   万ボルトができること
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月2週目：10 万ボルトができること" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月2週目：10 万ボルトができること の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3616")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3617" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3617"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1317.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1317" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月3週目：フィードバック")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1317(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1317" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1317") 活動 10月3週目：フィードバック を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317"
                                                )
                                                span.instancename
                                                  | 10月3週目：フィードバック
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月3週目：フィードバック" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月3週目：フィードバック の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3618")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3619" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3619"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりませ
 
                                li#module-1973.activity.activity-wrapper.resource.hasinfo(
                                  data-id="1973" 
                                  data-for="cmitem" 
                                  class="modtype_resource"
                                  )
                                  .activity-item.focus-control(data-activityname="授業概要test")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1973(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1973" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1973") 活動 授業概要test を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.content.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/resource/view.php?id=1973")
                                        img.activityicon(
                                          alt="ファイル アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/core/1749448559/f/pdf?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_resource")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/resource/view.php?id=1973"
                                                )
                                                span.instancename
                                                  | 授業概要test
                                                  span.accesshide ファイル
                                              span.ml-1
                                                span.activitybadge.badge.badge-pill

                                                    //- li.subject-page-added-note.not-published
                                                    //-   .subject-page-added-note-head 
                                                    //-      .subject-page-added-note-head-title
                                                    //-         |授業の
                                                    //-         br
                                                    //-         |まとめシート
                                                    //-      .subject-page-added-note-head-icon 
                                                            
                                                    //-   .subject-page-added-note-content 
                                                    //-     |現在準備中です
                                                      //- a.subject-page-added-note-content-download(href="https://lms.waomirai.com/mod/resource/view.php?id=1973")
                                                      //-   i.fa-regular.fa-circle-down
                                                      //-   .subject-page-added-note-content-download-text
                                                      //-      |ダウンロードする  

//2026年12月、ワークシートなし
mixin schedule-month-2026oct-worksheet-false
    li#section-1.subject-grid.section.course-section.main.clearfix(
                            data-number="1" 
                            data-id="767" 
                            data-for="section" 
                            data-sectionreturnid="0" 
                            data-sectionid="1"
                            )
                            .course-section-header.d-flex(
                              data-number="1" 
                              data-id="767" 
                              data-for="section_title"
                              )
                              .bulkselect.align-self-center.d-none(data-for="sectionBulkSelect")
                                input#sectionCheckbox767(
                                  data-bulkcheckbox="1" 
                                  data-action="toggleSelectionSection" 
                                  data-id="767" 
                                  type="checkbox"
                                  )
                                label.sr-only(for="sectionCheckbox767") 2026年10月：10 万ボルトの強さはどのくらい ?
                              .d-flex.align-items-start.position-relative
                                a#collapssesection1.btn.btn-icon.mr-1.icons-collapse-expand.justify-content-center.stretched-link(
                                  aria-label="2026年10月：10 万ボルトの強さはどのくらい ?"
                                  aria-controls="coursecontentcollapse1" 
                                  aria-expanded="true" 
                                  href="#coursecontentcollapse1" 
                                  data-for="sectiontoggler" 
                                  data-toggle="collapse" 
                                  role="button"
                                  )
                                  span.expanded-icon.icon-no-margin.p-2(title="折りたたむ")
                                    i.icon.fa.fa-chevron-down.fa-fw(aria-hidden="true")
                                  span.collapsed-icon.icon-no-margin.p-2(title="展開する")
                                    span.dir-rtl-hide
                                      i.icon.fa.fa-chevron-right.fa-fw(aria-hidden="true")
                                    span.dir-ltr-hide
                                      i.icon.fa.fa-chevron-left.fa-fw(aria-hidden="true")
                                h3#sectionid-767-title.sectionname.course-content-item.d-flex.align-self-stretch.align-items-center.mb-0(
                                  data-number="1" 
                                  data-id="767" 
                                  data-for="section_title"
                                  ) 2026年10月：10 万ボルトの強さはどのくらい ?
                              .sectionbadges.d-flex.align-items-center(data-region="sectionbadges")
                            #coursecontentcollapse1.content.course-content-item-content.collapse.show
                              .my-3(data-for="sectioninfo")
                                div(class="section_availability")
                              ul.section.m-0.p-0.img-text.d-block(data-for="cmlist")
                                li#module-1315.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1315" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月1週目：発電する動物はどうしているの？")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1315(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1315" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1315") 活動 10月1週目：発電する動物はどうしているの？ を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315"
                                                )
                                                span.instancename
                                                  | 10月1週目：発電する動物はどうしているの？
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月1週目：発電する動物はどうしているの？" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月1週目：発電する動物はどうしているの？ の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3614")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3615" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3615"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1316.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1316" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月2週目：10 万ボルトができること")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1316(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1316" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1316") 活動 10月2週目：10 万ボルトができること を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316"
                                                )
                                                span.instancename
                                                  | 10月2週目：10
                                                  |   万ボルトができること
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月2週目：10 万ボルトができること" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月2週目：10 万ボルトができること の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3616")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3617" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3617"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1317.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1317" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月3週目：フィードバック")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1317(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1317" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1317") 活動 10月3週目：フィードバック を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317"
                                                )
                                                span.instancename
                                                  | 10月3週目：フィードバック
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月3週目：フィードバック" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月3週目：フィードバック の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3618")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3619" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3619"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりませ


                                                    //- li.subject-page-added-note.not-published
                                                    //-   .subject-page-added-note-head 
                                                    //-      .subject-page-added-note-head-title
                                                    //-         |授業の
                                                    //-         br
                                                    //-         |まとめシート
                                                    //-      .subject-page-added-note-head-icon 
                                                            
                                                    //-   .subject-page-added-note-content 
                                                    //-     |現在準備中です
                                                      //- a.subject-page-added-note-content-download(href="https://lms.waomirai.com/mod/resource/view.php?id=1973")
                                                      //-   i.fa-regular.fa-circle-down
                                                      //-   .subject-page-added-note-content-download-text
                                                      //-      |ダウンロードする  

//2026年12月、ワークシートなし、授業２つ
mixin schedule-month-2026oct-worksheet-false-twolesson
    li#section-1.subject-grid.section.course-section.main.clearfix(
                            data-number="1" 
                            data-id="767" 
                            data-for="section" 
                            data-sectionreturnid="0" 
                            data-sectionid="1"
                            )
                            .course-section-header.d-flex(
                              data-number="1" 
                              data-id="767" 
                              data-for="section_title"
                              )
                              .bulkselect.align-self-center.d-none(data-for="sectionBulkSelect")
                                input#sectionCheckbox767(
                                  data-bulkcheckbox="1" 
                                  data-action="toggleSelectionSection" 
                                  data-id="767" 
                                  type="checkbox"
                                  )
                                label.sr-only(for="sectionCheckbox767") 2026年10月：10 万ボルトの強さはどのくらい ?
                              .d-flex.align-items-start.position-relative
                                a#collapssesection1.btn.btn-icon.mr-1.icons-collapse-expand.justify-content-center.stretched-link(
                                  aria-label="2026年10月：10 万ボルトの強さはどのくらい ?"
                                  aria-controls="coursecontentcollapse1" 
                                  aria-expanded="true" 
                                  href="#coursecontentcollapse1" 
                                  data-for="sectiontoggler" 
                                  data-toggle="collapse" 
                                  role="button"
                                  )
                                  span.expanded-icon.icon-no-margin.p-2(title="折りたたむ")
                                    i.icon.fa.fa-chevron-down.fa-fw(aria-hidden="true")
                                  span.collapsed-icon.icon-no-margin.p-2(title="展開する")
                                    span.dir-rtl-hide
                                      i.icon.fa.fa-chevron-right.fa-fw(aria-hidden="true")
                                    span.dir-ltr-hide
                                      i.icon.fa.fa-chevron-left.fa-fw(aria-hidden="true")
                                h3#sectionid-767-title.sectionname.course-content-item.d-flex.align-self-stretch.align-items-center.mb-0(
                                  data-number="1" 
                                  data-id="767" 
                                  data-for="section_title"
                                  ) 2026年10月：10 万ボルトの強さはどのくらい ?
                              .sectionbadges.d-flex.align-items-center(data-region="sectionbadges")
                            #coursecontentcollapse1.content.course-content-item-content.collapse.show
                              .my-3(data-for="sectioninfo")
                                div(class="section_availability")
                              ul.section.m-0.p-0.img-text.d-block(data-for="cmlist")
                                li#module-1315.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1315" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月1週目：発電する動物はどうしているの？")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1315(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1315" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1315") 活動 10月1週目：発電する動物はどうしているの？ を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315"
                                                )
                                                span.instancename
                                                  | 10月1週目：発電する動物はどうしているの？
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月1週目：発電する動物はどうしているの？" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月1週目：発電する動物はどうしているの？ の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3614")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3615" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3615"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1316.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1316" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月2週目：10 万ボルトができること")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1316(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1316" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1316") 活動 10月2週目：10 万ボルトができること を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316"
                                                )
                                                span.instancename
                                                  | 10月2週目：10
                                                  |   万ボルトができること
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月2週目：10 万ボルトができること" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月2週目：10 万ボルトができること の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3616")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3617" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3617"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません


//自由記入あり
mixin freearea
    li#section-1.subject-grid.section.course-section.main.clearfix(
                            data-number="1" 
                            data-id="767" 
                            data-for="section" 
                            data-sectionreturnid="0" 
                            data-sectionid="1"
                            )
                            .course-section-header.d-flex(
                              data-number="1" 
                              data-id="767" 
                              data-for="section_title"
                              )
                              .bulkselect.align-self-center.d-none(data-for="sectionBulkSelect")
                                input#sectionCheckbox767(
                                  data-bulkcheckbox="1" 
                                  data-action="toggleSelectionSection" 
                                  data-id="767" 
                                  type="checkbox"
                                  )
                                label.sr-only(for="sectionCheckbox767") タイトル自由
                              .d-flex.align-items-start.position-relative
                                a#collapssesection1.btn.btn-icon.mr-1.icons-collapse-expand.justify-content-center.stretched-link(
                                  aria-label="タイトル自由"
                                  aria-controls="coursecontentcollapse1" 
                                  aria-expanded="true" 
                                  href="#coursecontentcollapse1" 
                                  data-for="sectiontoggler" 
                                  data-toggle="collapse" 
                                  role="button"
                                  )
                                  span.expanded-icon.icon-no-margin.p-2(title="折りたたむ")
                                    i.icon.fa.fa-chevron-down.fa-fw(aria-hidden="true")
                                  span.collapsed-icon.icon-no-margin.p-2(title="展開する")
                                    span.dir-rtl-hide
                                      i.icon.fa.fa-chevron-right.fa-fw(aria-hidden="true")
                                    span.dir-ltr-hide
                                      i.icon.fa.fa-chevron-left.fa-fw(aria-hidden="true")
                                h3#sectionid-767-title.sectionname.course-content-item.d-flex.align-self-stretch.align-items-center.mb-0(
                                  data-number="1" 
                                  data-id="767" 
                                  data-for="section_title"
                                  ) タイトル自由
                              .sectionbadges.d-flex.align-items-center(data-region="sectionbadges")
                            #coursecontentcollapse1.content.course-content-item-content.collapse.show
                              .my-3(data-for="sectioninfo")
                                div(class="section_availability")
                              ul.section.m-0.p-0.img-text.d-block(data-for="cmlist")
                                li#module-1315.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1315" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月1週目：発電する動物はどうしているの？")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1315(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1315" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1315") 活動 10月1週目：発電する動物はどうしているの？ を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1315"
                                                )
                                                span.instancename
                                                  | 10月1週目：発電する動物はどうしているの？
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月1週目：発電する動物はどうしているの？" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月1週目：発電する動物はどうしているの？ の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3614")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3615" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3615"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1316.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1316" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月2週目：10 万ボルトができること")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1316(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1316" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1316") 活動 10月2週目：10 万ボルトができること を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1316"
                                                )
                                                span.instancename
                                                  | 10月2週目：10
                                                  |   万ボルトができること
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月2週目：10 万ボルトができること" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月2週目：10 万ボルトができること の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3616")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3617" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3617"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりません
                                li#module-1317.activity.activity-wrapper.questionnaire.hasinfo(
                                  data-id="1317" 
                                  data-for="cmitem" 
                                  class="modtype_questionnaire"
                                  )
                                  .activity-item.focus-control(data-activityname="10月3週目：フィードバック")
                                    .bulkselect.d-none(data-for="cmBulkSelect")
                                      input#cmCheckbox1317(
                                        data-bulkcheckbox="1" 
                                        data-action="toggleSelectionCm" 
                                        data-id="1317" 
                                        type="checkbox"
                                        )
                                      label.sr-only(for="cmCheckbox1317") 活動 10月3週目：フィードバック を選択する
                                    .activity-grid
                                      a.activity-icon.activityiconcontainer.smaller.communication.btn.btn-link.courseicon.align-self-start.mr-2(href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317")
                                        img.activityicon(
                                          alt="アンケート アイコン" 
                                          src="https://lms.waomirai.com/theme/image.php/kenai/questionnaire/1749448559/monologo?filtericon=1"
                                          )
                                      .activity-name-area.activity-instance.d-flex.flex-column.mr-2
                                        .activitytitle.media.position-relative.align-self-start(class="modtype_questionnaire")
                                          .media-body.align-self-center
                                            .activityname
                                              a.aalink.stretched-link(
                                                onclick="" 
                                                href="https://lms.waomirai.com/mod/questionnaire/view.php?id=1317"
                                                )
                                                span.instancename
                                                  | 10月3週目：フィードバック
                                                  span.accesshide 問い
                                      .activity-completion.align-self-start.ml-sm-2
                                        .activity-information(
                                          data-activityname="10月3週目：フィードバック" 
                                          data-region="activity-information"
                                          )
                                          div(data-region="completion-info")
                                            div(
                                              aria-label="10月3週目：フィードバック の完了条件" 
                                              data-region="completionrequirements"
                                              )
                                              .dropdown.completion-dropdown(id="dropdownDialog_68abba5531a3618")
                                                button.btn.btn-sm.dropdown-toggle.icon-no-margin.btn-success(
                                                  data-for="dropdowndialog_button" 
                                                  aria-expanded="false" 
                                                  aria-haspopup="true" 
                                                  data-toggle="dropdown" 
                                                  id="dropwdownbutton_68abba5531a3619" 
                                                  type="button"
                                                  )
                                                  i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                  | 完了
                                                .dropdown-menu.dropdown-menu-right(
                                                  data-for="dropdowndialog_dialog" 
                                                  aria-labelledby="dropwdownbutton_68abba5531a3619"
                                                  )
                                                  .p-2(data-for="dropdowndialog_content")
                                                    .completion-dialog.px-2
                                                      strong あなたに必要なこと:
                                                      .ml-2(role="list")
                                                        .d-flex.mt-2.text-success(role="listitem")
                                                          div
                                                            i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                                                            span.sr-only 完了:
                                                          span 学生が完了するためにはこのアンケートに回答しなければなりませ


                                                    //- li.subject-page-added-note.not-published
                                                    //-   .subject-page-added-note-head 
                                                    //-      .subject-page-added-note-head-title
                                                    //-         |授業の
                                                    //-         br
                                                    //-         |まとめシート
                                                    //-      .subject-page-added-note-head-icon 
                                                            
                                                    //-   .subject-page-added-note-content 
                                                    //-     |現在準備中です
                                                      //- a.subject-page-added-note-content-download(href="https://lms.waomirai.com/mod/resource/view.php?id=1973")
                                                      //-   i.fa-regular.fa-circle-down
                                                      //-   .subject-page-added-note-content-download-text
                                                      //-      |ダウンロードする  



span#maincontent
.course-content
       #course-format-68abba554630268abba5531a3620
            h2.accesshide トピックアウトライン
            ul.topics(data-for="course_sectionlist")
            +freearea
            +schedule-month-2024dec-worksheet-true
            +schedule-month-2026oct-worksheet-true
            +schedule-month-2026oct-worksheet-true
            +schedule-month-2026oct-worksheet-false
            +schedule-month-2026oct-worksheet-false
            +schedule-month-2026oct-worksheet-false
            +schedule-month-2026oct-worksheet-false-twolesson
