
extends ../_layout_moodle.pug
block variables
  - var title = 'ユーザ設定 | stg'
  //-   - var status = 'purchased'
block contents
  body#page-user-preferences(class="limitedwidth format-site  path-user chrome dir-ltr lang-ja_wp yui-skin-sam yui3-skin-sam lms-waomirai-com pagelayout-admin course-1 context-2386 theme uses-drawers jsenabled")
    .toast-wrapper.mx-auto.py-0.fixed-top(role="status", aria-live="polite")
    #page-wrapper.d-print-block
      div
        a.sr-only.sr-only-focusable(href="#maincontent") メインコンテンツへスキップする
      script(src="https://lms.waomirai.com/lib/javascript.php/1733297073/lib/polyfills/polyfill.js")
      script(src="https://lms.waomirai.com/theme/yui_combo.php?rollup/3.18.1/yui-moodlesimple-min.js")
      script(src="https://lms.waomirai.com/lib/javascript.php/1733297073/lib/javascript-static.js")
      script.
        //<![CDATA[
        document.body.className += ' jsenabled';
        //]]>
      // Google Tag Manager (noscript)
      noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
      // End Google Tag Manager (noscript)
      .header-banner.alert-setting-level(style="display:none;")
        .header-banner-left
          .header-banner-left-icon
            i.icon.fa.fa-solid.fa-triangle-exclamation(aria-hidden="true")
          .header-banner-text
            .header-banner-text-title  科目のレベルを設定しましょう
            .header-banner-text-read レベルを設定しないと授業を受講できません
        .header-banner-right
          a(href="https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=230") 科目のレベルを設定するには？ 
      nav.navbar.fixed-top.navbar-light.bg-white.navbar-expand(aria-label="サイトナビゲーション")
        button.navbar-toggler.aabtn.d-block.d-md-none.my-1.mr-2(data-toggler="drawers", data-action="toggle", data-target="theme_boost-drawers-primary")
          span.navbar-toggler-icon
          span.sr-only サイドパネル
        a.navbar-brand.d-none.d-md-flex.align-items-center.m-0.mr-3.p-0.aabtn(href="https://lms.waomirai.com/my/")
          img.logo.mr-1(src="https://lms.waomirai.com/pluginfile.php/1/tool_tenant/headerlogo/2/%E7%84%A1%E9%A1%8C.png", alt="stg")
        ul.navbar-nav.d-none.d-md-flex.mr-3.tenantswitch
        .primary-navigation
          nav.moremenu.navigation.observed
            ul#moremenu-6757c4d19538b-navbar-nav.nav.more-nav.navbar-nav(role="menubar")
              li.nav-item(data-key="home", role="none", data-forceintomoremenu="false")
                a.nav-link(role="menuitem", href="https://lms.waomirai.com/?redirect=0", tabindex="-1")
                  | ホーム
              li.nav-item(data-key="myhome", role="none", data-forceintomoremenu="false")
                a.nav-link(role="menuitem", href="https://lms.waomirai.com/my/", tabindex="-1")
                  | ダッシュボード
              li.nav-item(data-key="mycourses", role="none", data-forceintomoremenu="false")
                a.nav-link(role="menuitem", href="https://lms.waomirai.com/my/courses.php", tabindex="-1")
                  | 登録済み講座
              li.nav-item( role="none", data-forceintomoremenu="false")
                a.nav-link(role="menuitem", href="https://lms.waomirai.com/user/profile.php", tabindex="-1")
                  | マイページ
              li.nav-item( role="none", data-forceintomoremenu="false")
                a.nav-link.active(role="menuitem", href="https://lms.waomirai.com/user/preferences.php", aria-current="true")
                  | ユーザ設定
              li.nav-item.dropdown.dropdownmoremenu.d-none(role="none", data-region="morebutton")
                a#moremenu-dropdown-6757c4d19538b.dropdown-toggle.nav-link(href="#", role="menuitem", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", tabindex="-1")
                  | さらに
                ul.dropdown-menu.dropdown-menu-left(data-region="moredropdown", aria-labelledby="moremenu-dropdown-6757c4d19538b", role="menu")
        ul.navbar-nav.d-none.d-md-flex.my-1.px-1
          // page_heading_menu
        #usernavigation.navbar-nav.ml-auto
          #nav-notification-popover-container.popover-region.collapsed.popover-region-notifications(data-userid="768", data-region="popover-region")
            .popover-region-toggle.nav-link.icon-no-margin(data-region="popover-region-toggle", role="button", aria-controls="popover-region-container-6757c4d19ce876757c4d19a1aa2", aria-haspopup="true", aria-label=" 新しい通知のない通知ウィンドウを表示する   ", tabindex="0")
              i.icon.fa.fa-bell-o.fa-fw(title="通知メニューに切り替える", role="img", aria-label="通知メニューに切り替える", aria-hidden="true")
              span.sr-only 通知メニューに切り替える
              .count-container.hidden(data-region="count-container", aria-hidden="true")
                | 0
            #popover-region-container-6757c4d19ce876757c4d19a1aa2.popover-region-container(data-region="popover-region-container", aria-expanded="false", aria-hidden="true", aria-label="通知ウィンドウ", role="region")
              .popover-region-header-container
                h3.popover-region-header-text(data-region="popover-region-header-text") 通知
                .popover-region-header-actions(data-region="popover-region-header-actions")
                  a.mark-all-read-button(href="#", title="すべてを既読にする", data-action="mark-all-read", role="button", aria-label="すべてを既読にする")
                    span.normal-icon
                      i.icon.fa.fa-check.fa-fw(aria-hidden="true")
                    span.loading-icon.icon-no-margin
                      i.icon.fa.fa-circle-o-notch.fa-spin.fa-fw(title="読み込み中", role="img", aria-label="読み込み中", aria-hidden="true")
                      span.sr-only 読み込み中
              .popover-region-content-container(data-region="popover-region-content-container")
                .popover-region-content(data-region="popover-region-content")
                  .all-notifications(data-region="all-notifications", role="log", aria-busy="false", aria-atomic="false", aria-relevant="additions")
                  .empty-message(tabindex="0", data-region="empty-message") あなたに通知はありません。
                span.loading-icon.icon-no-margin
                  i.icon.fa.fa-circle-o-notch.fa-spin.fa-fw(title="読み込み中", role="img", aria-label="読み込み中", aria-hidden="true")
                  span.sr-only 読み込み中
              a.see-all-link(href="https://lms.waomirai.com/message/output/popup/notifications.php")
                .popover-region-footer-container
                  .popover-region-seeall-text すべてを表示する
          .d-flex.align-items-stretch.usermenu-container(data-region="usermenu")
            .usermenu
              .dropdown.show
                a#user-menu-toggle.btn.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-label="ユーザメニュー", aria-haspopup="true", aria-controls="user-action-menu")
                  span.userbutton
                    span.avatars
                      span.avatar.current
                        span.userinitials.size-35 テみ
                #user-action-menu.dropdown-menu.dropdown-menu-right
                  #usermenu-carousel.carousel.slide(data-touch="false", data-interval="false", data-keyboard="false")
                    .carousel-inner
                      #carousel-item-main.carousel-item.active(role="menu", tabindex="-1", aria-label="ユーザ")
                        a.dropdown-item(href="https://lms.waomirai.com/user/profile.php", role="menuitem", tabindex="-1")
                          | 
                          | マイページ
                        a.dropdown-item(href="https://lms.waomirai.com/grade/report/overview/index.php", role="menuitem", tabindex="-1")
                          | 
                          | 評定
                        a.dropdown-item(href="https://lms.waomirai.com/calendar/view.php?view=month", role="menuitem", tabindex="-1")
                          | 
                          | カレンダー
                        a.dropdown-item(href="https://lms.waomirai.com/user/files.php", role="menuitem", tabindex="-1")
                          | 
                          | プライベートファイル
                        a.dropdown-item(href="https://lms.waomirai.com/reportbuilder/index.php", role="menuitem", tabindex="-1")
                          | 
                          | レポート
                        .dropdown-divider
                        a.dropdown-item(href="https://lms.waomirai.com/user/preferences.php", role="menuitem", tabindex="-1")
                          | 
                          | ユーザ設定
                        .dropdown-divider
                        a.dropdown-item(href="https://lms.waomirai.com/login/logout.php?sesskey=abehmliEbB", role="menuitem", tabindex="-1")
                          | 
                          | ログアウト
      .drawer.drawer-left.drawer-primary.d-print-none(data-region="fixed-drawer", id="theme_boost-drawers-primary",  data-state="show-drawer-primary", data-forceopen="0", data-close-on-resize="1", aria-hidden="true")
        .drawerheader
          button.btn.drawertoggle.icon-no-margin.hidden(data-toggler="drawers", data-action="closedrawer", data-target="theme_boost-drawers-primary", data-toggle="tooltip", data-placement="right", title="ドロワを閉じる",  tabindex="-1")
            i.icon.fa.fa-times.fa-fw(aria-hidden="true")
          img.logo.py-1.h-100(src="https://lms.waomirai.com/pluginfile.php/1/tool_tenant/headerlogo/2/%E7%84%A1%E9%A1%8C.png", alt="stg")
          .drawerheadercontent.hidden
        .drawercontent.drag-container(data-usertour="scroller")
          .list-group
            a.list-group-item.list-group-item-action(href="https://lms.waomirai.com/?redirect=0",  tabindex="-1")
              | ホーム
            a.list-group-item.list-group-item-action(href="https://lms.waomirai.com/my/",  tabindex="-1")
              | ダッシュボード
            a.list-group-item.list-group-item-action(href="https://lms.waomirai.com/my/courses.php",  tabindex="-1")
              | 登録済み講座
            a.list-group-item.list-group-item-action(href="https://lms.waomirai.com/user/profile.php",  tabindex="-1")
              | マイページ
            a.list-group-item.list-group-item-action.active(href="https://lms.waomirai.com/user/preferences.php", aria-current="true",  tabindex="-1")
              | ユーザ設定
          ul.position-absolute.fixed-bottom.navbar-nav.ml-3.tenantswitch
      #page.drawers.drag-container(data-region="mainpage", data-usertour="scroller")
        #topofscroll.main-inner
          .drawer-toggles.d-flex
          header#page-header.header-maxwidth.d-print-none
            .w-100
              .d-flex.flex-wrap
                #page-navbar
                  nav(aria-label="ナビゲーションバー")
                    ol.breadcrumb
                .ml-auto.d-flex
                #course-header
              .d-flex.align-items-center
                .mr-auto
                  .page-context-header
                    .page-header-image.mr-2
                      a.d-inline-block.aabtn(href="https://lms.waomirai.com/user/profile.php?id=768")
                        span.userinitials.size-100 テみ
                    .page-header-headings
                      h1.h2 テスト1 みらい
                .header-actions-container.ml-auto(data-region="header-actions-container")
          #page-content.pb-3.d-print-block
            #region-main-box
              section#region-main(aria-label="コンテンツ")
                span#user-notifications.notifications
                div(role="main")
                  span#maincontent
                  h2 ユーザ設定
                  .container-fluid.p-sm-0
                    .row
                      .col-md-4
                        .card.mb-3
                          .card-body
                            h4.card-title ユーザアカウント
                            .card-text
                              div
                                a(href="https://lms.waomirai.com/user/edit.php?id=768&amp;course=1") 登録情報の変更
                              div
                                a(href="https://lms.waomirai.com/login/change_password.php?id=1") パスワードを変更する
                              div
                                a(href="https://lms.waomirai.com/user/language.php?id=768&amp;course=1") 優先言語
                              div
                                a(href="https://lms.waomirai.com/user/forum.php?id=768&amp;course=1") フォーラムプレファレンス
                              div
                                a(href="https://lms.waomirai.com/user/editor.php?id=768&amp;course=1") エディタプレファレンス
                              div
                                a(href="https://lms.waomirai.com/user/calendar.php?id=768") カレンダープレファレンス
                              div
                                a(href="https://lms.waomirai.com/user/contentbank.php?id=768") コンテンツバンクプレファレンス
                      .col-md-4
                        .card.mb-3
                          .card-body
                            h4.card-title バッジ
                            .card-text
                              div
                                a(href="https://lms.waomirai.com/badges/mybadges.php") バッジを管理する
                              div
                                a(href="https://lms.waomirai.com/badges/preferences.php") バッジプレファレンスンス
        footer#page-footer.footer-popover.bg-white
          div(data-region="footer-container-popover")
            button.btn.btn-icon.bg-secondary.icon-no-margin.btn-footer-popover(data-action="footer-popover", aria-label="フッタを表示する")
              i.icon.fa.fa-question.fa-fw(aria-hidden="true")
          .footer-content-popover.container(data-region="footer-content-popover")
            .footer-section.p-3.border-bottom
              div
                a(href="https://lms.waomirai.com/user/contactsitesupport.php")
                  i.icon.fa.fa-envelope-o.fa-fw(aria-hidden="true")
                a(href="https://go.waomirai.com/contact", target="_blank") サポートに連絡
            .footer-section.p-3.border-bottom
              .logininfo
                .logininfo ログインユーザー名：
                  a(href="https://lms.waomirai.com/user/profile.php?id=768", title="プロファイルを表示する") テスト1 みらい
                  | さん (
                  a(href="https://lms.waomirai.com/login/logout.php?sesskey=abehmliEbB") ログアウト
                  | )
              div(class="tool_usertours-resettourcontainer")
              br
              p
                a(href="https://lms.waomirai.com/course/view.php?id=112", target="_blank", style="text-decoration: revert-layer;") ＞よくあるご質問（お問い合わせ）
              p
                a(href="https://waomirai.com/commerce_law", target="_blank", style="text-decoration: revert-layer;") ＞特許商取引法に基づく表記
                  i.fa-solid.fa-up-right-from-square(aria-hidden="true")
              p
                a(href="https://www.wao-corp.com/privacy/", target="_blank", style="text-decoration: revert-layer;") ＞プライバシーポリシー
                  i.fa-solid.fa-up-right-from-square(aria-hidden="true")
              p
                a(href="https://go.waomirai.com/terms", target="_blank", style="text-decoration: revert-layer;") ＞利用規約
                  i.fa-solid.fa-up-right-from-square(aria-hidden="true")
              a(href="https://lms.waomirai.com/?tenant=lmswaomirai")
                img(src="https://go.waomirai.com/l/1026513/2023-11-16/gddzt/1026513/1700192228BDlbz92f/logo_basic_white.png", width="60%")
              script.
                //<![CDATA[
                var require = {
                baseUrl : 'https://lms.waomirai.com/lib/requirejs.php/1733297073/',
                // We only support AMD modules with an explicit define() statement.
                enforceDefine: true,
                skipDataMain: true,
                waitSeconds : 0,
                
                paths: {
                jquery: 'https://lms.waomirai.com/lib/javascript.php/1733297073/lib/jquery/jquery-3.7.1.min',
                jqueryui: 'https://lms.waomirai.com/lib/javascript.php/1733297073/lib/jquery/ui-1.13.2/jquery-ui.min',
                jqueryprivate: 'https://lms.waomirai.com/lib/javascript.php/1733297073/lib/requirejs/jquery-private'
                },
                
                // Custom jquery config map.
                map: {
                // '*' means all modules will get 'jqueryprivate'
                // for their 'jquery' dependency.
                '*': { jquery: 'jqueryprivate' },
                // Stub module for 'process'. This is a workaround for a bug in MathJax (see MDL-60458).
                '*': { process: 'core/first' },
                
                // 'jquery-private' wants the real jQuery module
                // though. If this line was not here, there would
                // be an unresolvable cyclic dependency.
                jqueryprivate: { jquery: 'jquery' }
                }
                };
                
                //]]>
              script(src="https://lms.waomirai.com/lib/javascript.php/1733297073/lib/requirejs/require.min.js")
              script.
                //<![CDATA[
                M.util.js_pending("core/first");
                require(['core/first'], function() {
                require(['core/prefetch'])
                ;
                M.util.js_pending('filter_mathjaxloader/loader'); require(['filter_mathjaxloader/loader'], function(amd) {amd.configure({"mathjaxconfig":"\nMathJax.Hub.Config({\n    config: [\"Accessible.js\", \"Safe.js\"],\n    errorSettings: { message: [\"!\"] },\n    skipStartupTypeset: true,\n    messageStyle: \"none\"\n});\n","lang":"ja"}); M.util.js_complete('filter_mathjaxloader/loader');});;
                require(["media_videojs/loader"], function(loader) {
                loader.setUp('ja');
                });;
                
                require(['core/moremenu'], function(moremenu) {
                moremenu(document.querySelector('#moremenu-6757c4d19538b-navbar-nav'));
                });
                ;
                
                require(['jquery', 'message_popup/notification_popover_controller'], function($, Controller) {
                var container = $('#nav-notification-popover-container');
                var controller = new Controller(container);
                controller.registerEventListeners();
                controller.registerListNavigationEventListeners();
                });
                ;
                
                require(['core/usermenu'], function(UserMenu) {
                UserMenu.init();
                });
                ;
                
                require(['theme_boost/drawers']);
                ;
                
                require(['theme_boost/footer-popover'], function(FooterPopover) {
                FooterPopover.init();
                });
                ;
                
                M.util.js_pending('theme_boost/loader');
                require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
                Drawer.init();
                M.util.js_complete('theme_boost/loader');
                });
                ;
                M.util.js_pending('theme_kenai/forcedfooter'); require(['theme_kenai/forcedfooter'], function(amd) {amd.init("<div id=\"forced-footer\">\n    \u00a9\ufe0fWAO CORPORATION\n<\/div>"); M.util.js_complete('theme_kenai/forcedfooter');});;
                M.util.js_pending('core/notification'); require(['core/notification'], function(amd) {amd.init(2386, []); M.util.js_complete('core/notification');});;
                M.util.js_pending('core/log'); require(['core/log'], function(amd) {amd.setConfig({"level":"warn"}); M.util.js_complete('core/log');});;
                M.util.js_pending('core/page_global'); require(['core/page_global'], function(amd) {amd.init(); M.util.js_complete('core/page_global');});;
                M.util.js_pending('core/utility'); require(['core/utility'], function(amd) {M.util.js_complete('core/utility');});
                M.util.js_complete("core/first");
                });
                //]]>
              script(src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js?delayStartupUntil=configured")
              script.
                //<![CDATA[
                M.str = {"moodle":{"lastmodified":"\u6700\u7d42\u66f4\u65b0\u65e5\u6642","name":"\u540d\u79f0","error":"\u30a8\u30e9\u30fc","info":"\u60c5\u5831","yes":"Yes","no":"No","cancel":"\u30ad\u30e3\u30f3\u30bb\u30eb","confirm":"\u78ba\u8a8d","areyousure":"\u672c\u5f53\u306b\u3088\u308d\u3057\u3044\u3067\u3059\u304b?","closebuttontitle":"\u9589\u3058\u308b","unknownerror":"\u4e0d\u660e\u306a\u30a8\u30e9\u30fc","file":"\u30d5\u30a1\u30a4\u30eb","url":"URL","collapseall":"\u3059\u3079\u3066\u3092\u6298\u308a\u305f\u305f\u3080","expandall":"\u3059\u3079\u3066\u3092\u5c55\u958b\u3059\u308b"},"repository":{"type":"\u30bf\u30a4\u30d7","size":"\u30b5\u30a4\u30ba","invalidjson":"\u7121\u52b9\u306aJSON\u30b9\u30c8\u30ea\u30f3\u30b0\u3067\u3059\u3002","nofilesattached":"\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u308b\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u308a\u307e\u305b\u3093\u3002","filepicker":"\u30d5\u30a1\u30a4\u30eb\u30d4\u30c3\u30ab","logout":"\u30ed\u30b0\u30a2\u30a6\u30c8","nofilesavailable":"\u5229\u7528\u3067\u304d\u308b\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u308a\u307e\u305b\u3093\u3002","norepositoriesavailable":"\u7533\u3057\u8a33\u3054\u3056\u3044\u307e\u305b\u3093\u3001\u73fe\u5728\u306e\u3042\u306a\u305f\u306e\u30ea\u30dd\u30b8\u30c8\u30ea\u3067\u306f\u6240\u8981\u306e\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u306e\u30d5\u30a1\u30a4\u30eb\u3092\u8fd4\u3059\u3053\u3068\u304c\u3067\u304d\u307e\u305b\u3093\u3002","fileexistsdialogheader":"\u30d5\u30a1\u30a4\u30eb\u767b\u9332\u6e08\u307f","fileexistsdialog_editor":"\u305d\u306e\u30d5\u30a1\u30a4\u30eb\u540d\u306e\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u306a\u305f\u304c\u7de8\u96c6\u3057\u3066\u3044\u308b\u30c6\u30ad\u30b9\u30c8\u306b\u3059\u3067\u306b\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u307e\u3059\u3002","fileexistsdialog_filemanager":"\u540c\u4e00\u30d5\u30a1\u30a4\u30eb\u540d\u306e\u30d5\u30a1\u30a4\u30eb\u304c\u3059\u3067\u306b\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u307e\u3059\u3002","renameto":"\u30ea\u30cd\u30fc\u30e0 -> {$a}","referencesexist":"\u3053\u306e\u30d5\u30a1\u30a4\u30eb\u306b\u306f {$a} \u4ef6\u306e\u30ea\u30f3\u30af\u304c\u3042\u308a\u307e\u3059\u3002","select":"\u9078\u629e"},"admin":{"confirmdeletecomments":"\u672c\u5f53\u306b\u9078\u629e\u3057\u305f\u30b3\u30e1\u30f3\u30c8\u3092\u524a\u9664\u3057\u3066\u3082\u3088\u308d\u3057\u3044\u3067\u3059\u304b?","confirmation":"\u78ba\u8a8d"},"debug":{"debuginfo":"\u30c7\u30d0\u30c3\u30b0\u60c5\u5831","line":"\u884c","stacktrace":"\u30b9\u30bf\u30c3\u30af\u30c8\u30ec\u30fc\u30b9"},"langconfig":{"labelsep":":"}};
                //]]>
              script.
                //<![CDATA[
                (function() {M.util.help_popups.setup(Y);
                M.util.js_pending('random6757c4d19a1aa3'); Y.on('domready', function() { M.util.js_complete("init");  M.util.js_complete('random6757c4d19a1aa3'); });
                })();
                //]]>
            .footer-section.p-3
              span Powered by
              a(href="https://moodle.com/workplace/", target="_blank")
                | Moodle Workplace
          .footer-content-debugging.footer-dark.bg-dark.text-light
            .container-fluid.footer-dark-inner
      div
        #forced-footer
          | ©️WAO CORPORATION
    #yui3-css-stamp(style="position: absolute !important; visibility: hidden !important")
    iframe(height="0", width="0", style="display: none; visibility: hidden;")
    iframe(allow="join-ad-interest-group", data-tagging-id="AW-16476562618", data-load-time="1733805265886", height="0", width="0", src="https://td.doubleclick.net/td/rul/16476562618?random=1733805265885&amp;cv=11&amp;fst=1733805265885&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be4c90z89171708627za201zb9171708627&amp;gcd=13l3l3l3l1l1&amp;dma=0&amp;tag_exp=101925629~102067555~102067808~102081485&amp;u_w=1920&amp;u_h=1080&amp;url=https%3A%2F%2Flms.waomirai.com%2Fuser%2Fpreferences.php&amp;ref=https%3A%2F%2Flms.waomirai.com%2Fuser%2Fprofile.php%3F_gl%3D1*1wv18v4*_gcl_au*MTI2NDk3MzM5MC4xNzMyODQxNjgx*_ga*MjA3NzA5ODkzNS4xNzI0MTE5Nzgw*_ga_C5TLB720G3*MTczMzc5Njc3MS4xLjEuMTczMzgwNTI0OS41OS4wLjA.&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=%E3%83%A6%E3%83%BC%E3%82%B6%E8%A8%AD%E5%AE%9A%20%7C%20stg&amp;npa=0&amp;pscdl=noapi&amp;auid=1264973390.1732841681&amp;uaa=arm&amp;uab=64&amp;uafvl=Google%2520Chrome%3B131.0.6778.109%7CChromium%3B131.0.6778.109%7CNot_A%2520Brand%3B24.0.0.0&amp;uamb=0&amp;uam=&amp;uap=macOS&amp;uapv=14.6.1&amp;uaw=0&amp;fledge=1", style="display: none; visibility: hidden;")
    script(type="text/javascript").
      piAId="1027513";piCId="";piHostname="go.waomirai.com";(function(){function b(){var a=document.createElement("script");a.type="text/javascript";a.src=("https:"==document.location.protocol?"https://":"http://")+piHostname+"/pd.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}window.attachEvent?window.attachEvent("onload",b):window.addEventListener("load",b,!1)})();
    div(style="display: none; visibility: hidden;")
      script(async="null", src="https://s.yimg.jp/images/listing/tool/cv/ytag.js")
      script.
        window.yjDataLayer=window.yjDataLayer||[];function ytag(){yjDataLayer.push(arguments)}ytag({type:"yss_retargeting",config:{yahoo_ss_retargeting_id:"1001324905",yahoo_sstag_custom_params:{}}});
    div(style="display: none; visibility: hidden;")
      script.
        !function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","991613366033962");fbq("track","PageView");
      noscript
    div(style="display: none; visibility: hidden;")
      script.
        !function(d,g,e){d.TiktokAnalyticsObject=e;var a=d[e]=d[e]||[];a.methods="page track identify instances debug on off once ready alias group enableCookie disableCookie holdConsent revokeConsent grantConsent".split(" ");a.setAndDefer=function(b,c){b[c]=function(){b.push([c].concat(Array.prototype.slice.call(arguments,0)))}};for(d=0;d<a.methods.length;d++)a.setAndDefer(a,a.methods[d]);a.instance=function(b){b=a._i[b]||[];for(var c=0;c<a.methods.length;c++)a.setAndDefer(b,a.methods[c]);return b};a.load=
        function(b,c){var f="https://analytics.tiktok.com/i18n/pixel/events.js";a._i=a._i||{};a._i[b]=[];a._i[b]._u=f;a._t=a._t||{};a._t[b]=+new Date;a._o=a._o||{};a._o[b]=c||{};c=document.createElement("script");c.type="text/javascript";c.async=!0;c.src=f+"?sdkid\x3d"+b+"\x26lib\x3d"+e;b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(c,b)};a.load("CQUN883C77U0JHDT5O1G");a.page()}(window,document,"ttq");
    deepl-input-controller
    div
