//ダッシュボードにコピペするブロック
.dashboard-textblock
  .dashboard-left
    .dashboard-left-block.dashboard-left-block-subject
      .dashboard-left-block-title
        |現在受講中の科目
      .dashboard-left-block-wrap.dashboard-left-block-wrap-subject
    .dashboard-left-block.dashboard-left-block-english(style='display:none;')  
      .dashboard-left-block-title
        |英語学習
      .dashboard-left-block-wrap.dashboard-left-block-wrap-english
          .dashboard-left-block-wrap-english-text 
            |今週はWEEK1の
            br
            |トレーニングです!
          .dashboard-left-block-wrap-english-img 
          .dashboard-left-block-wrap-english-course 
            .dashboard-left-block-wrap-english-course-title
                |平日コース
            .dashboard-left-block-wrap-english-course-button
                a(href='#', onclick="alert('開発中です(トレーニング動画に行く予定)')") 
                  |学習動画はこちら
          .dashboard-left-block-wrap-english-course 
            .dashboard-left-block-wrap-english-course-title
                |土曜コース
            .dashboard-left-block-wrap-english-course-button
                a(href='#', onclick="alert('開発中です(トレーニング動画に行く予定)')") 
                  |学習動画はこちら                 
    .dashboard-left-block.dashboard-left-block-guide 
      .dashboard-left-block-title
        |使い方ガイド
      ul.dashboard-left-block-links
        li 
          //stg238
          a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=238')
            |新しい科目を受講したい  
        li 
          //stg240               
          a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=240')
            |授業への参加方法は？
        li 
          //stg239
          a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=239')
            |過去の授業動画の視聴方法は？
        li 
          //stg241
          a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=241')
            |授業のレベルを変更したい        
  .dashboard-main#todays-subject-pc
    //ダッシュボードのバナー
    .c-alert-banner.alert-buy-course.c-sp-hidden
      .c-alert-banner-left 
          .c-alert-banner-left-icon
            //- i.fa-solid.fa-ice-cream.fa-5x
            i.icon.fa.fa-solid.fa-circle-exclamation
          .c-alert-banner-text 
            .c-alert-banner-text-title 
              |
  .dashboard-main 
    
    //ダッシュボードのバナー
    //メモ、hiddenにする、.c-pc-hidden
    .dashboard-main-navi.c-pc-hidden
        a.dashboard-main-navi-child.scroll-to(href='#', data-target=".block_calendar_month") 
            .dashboard-main-navi-child-img 
                img(src='https://go.waomirai.com/l/1026513/2025-01-05/hbd34/1026513/1736131604vz7kVmsa/icn_calender.svg')
            .dashboard-main-navi-child-text 
              |受講カレンダー
            //下の矢印
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap 
        a.dashboard-main-navi-child.scroll-to(href='#', data-target="#dashboard-sp-content .dashboard-left-block-subject") 
            .dashboard-main-navi-child-img 
                img(src='https://go.waomirai.com/l/1026513/2025-01-05/hbd31/1026513/17361316040W4smv7Z/icn_subject.svg')
            .dashboard-main-navi-child-text 
              |受講科目の確認
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap 
        a.dashboard-main-navi-child.scroll-to(href='#', data-target="#dashboard-sp-content .dashboard-left-block-guide") 
            .dashboard-main-navi-child-img 
                img(src='https://go.waomirai.com/l/1026513/2025-01-05/hbd37/1026513/1736131604KlZKQe9J/icn_guide.svg')
            .dashboard-main-navi-child-text 
              |受講ガイド   
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap
    .dashboard-main-class
        h5.card-title|本日の授業
        .dashboard-main-class-content#dashboard-main-today-class 
          //何も受講していない時
          div#todays-event-subject-none(style='display:none;')
            .c-alert-banner.alert-buy-course
                .c-alert-banner-left 
                    .c-alert-banner-left-icon
                      //- i.fa-solid.fa-ice-cream.fa-5x
                      i.icon.fa.fa-solid.fa-circle-exclamation
                    .c-alert-banner-text 
                      .c-alert-banner-text-title 
                        |受講している科目がありません。科目の受講登録をしましょう。
            .dashboard-main-contents-block-cards 
                a(href=link_philosophy).common-contents-block-cards-course
                  .common-contents-block-cards-course-img 
                        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbj/1026513/1723092444vFKe6VRn/subject_01.jpg')
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-philosophy
                      .common-contents-block-cards-course-detail-title 
                          |哲学（思考力）
                      .common-contents-block-cards-course-detail-text 
                          |自分で考える力を鍛える
                a(href=link_science).common-contents-block-cards-course
                  .common-contents-block-cards-course-img 
                        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbx/1026513/1723092445qaV639ZU/subject_02.jpg')
                  .common-contents-block-cards-course-detail 
                    .common-contents-block-cards-course-detail-wrap.block-science
                      .common-contents-block-cards-course-detail-title 
                          |科学リテラシー
                      .common-contents-block-cards-course-detail-text 
                          |知らない世界にも視野を広げ、知的好奇心を育む
                a(href=link_economiy).common-contents-block-cards-course
                  .common-contents-block-cards-course-img 
                        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbt/1026513/1723092445zMMVlFVz/subject_03.jpg')
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-economiy
                      .common-contents-block-cards-course-detail-title 
                          |経済（お金）
                      .common-contents-block-cards-course-detail-text 
                          |お金の基礎知識と考え方・付き合い方を身につける経済
                a(href=link_english).common-contents-block-cards-course
                  .common-contents-block-cards-course-img 
                        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbq/1026513/1723092445NpS1HkfH/subject_04.jpg')
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-english
                      .common-contents-block-cards-course-detail-title 
                          |グローバル英語
                      .common-contents-block-cards-course-detail-text 
                          |シンプルで実用的な英語を使いこなす
                a(href=link_programming).common-contents-block-cards-course
                  .common-contents-block-cards-course-img 
                        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbm/1026513/1723092444UDZaTUyz/subject_05.jpg')
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-programming
                        .common-contents-block-cards-course-detail-title 
                            |クリエイティブ・プログラミング
                        .common-contents-block-cards-course-detail-text 
                            |子どもの習いごとで終わらせない
          //授業ない時
          div#todays-event-class-none(style='display:none;')
            .dashboard-main-class-content-text
             |本日は授業がありません 
          //授業ある時
          div#todays-event-class-scheduled
          //-   .dashboard-main-class-content-lesson 
          //-     .dashboard-main-class-content-lesson-title
          //-       |12/7(火) 17:30- 哲学WEEK 1
          //-     button.dashboard-main-class-content-lesson-button   
          //-       |詳細を見る / 参加する
          //-   .dashboard-main-class-content-lesson 
          //-     .dashboard-main-class-content-lesson-title
          //-       |12/7(火) 18:30- 科学WEEK 1
          //-     button.dashboard-main-class-content-lesson-button   
          //-       |詳細を見る / 参加する
    //何かしらの受講科目がある時に表示
    .dashboard-main-class.c-pc-hidden
        h5.card-title|今月中に開催される授業
        .dashboard-main-class-content#dashboard-main-upcoming-class 
            //授業ない時
            #dashboard-main-upcoming-class-none(style='display:none')
              .dashboard-main-class-content-text 
                |今月は授業がありません 
            //授業ある時
            #dashboard-main-upcoming-class-scheduled