//2025年4月開校のお知らせの表示フラグ
//trueの場合は表示、falseの場合は非表示
- var infoOpeningVisible = true

//2025年4月開校のお知らせの表示フラグ
//trueの場合は表示、falseの場合は非表示
- var infoHowtoVisible = false


//ダッシュボードにコピペするブロック
.dashboard-textblock
  .dashboard-left
    .dashboard-left-block.dashboard-left-block-subject
      .dashboard-left-block-title
        |現在受講中の科目
      .dashboard-left-block-wrap.dashboard-left-block-wrap-subject
    .dashboard-left-block.dashboard-left-block-english(style='display:none;')  
      .dashboard-left-block-title
        |英語学習
      .dashboard-left-block-wrap.dashboard-left-block-wrap-english
          .dashboard-left-block-wrap-english-text 
            |今週はWEEK1の
            br
            |トレーニングです!
          .dashboard-left-block-wrap-english-img 
          .dashboard-left-block-wrap-english-course 
            .dashboard-left-block-wrap-english-course-title
                |平日コース
            .dashboard-left-block-wrap-english-course-button
                a(href='#', onclick="alert('開発中です(トレーニング動画に行く予定)')") 
                  |学習動画はこちら
          .dashboard-left-block-wrap-english-course 
            .dashboard-left-block-wrap-english-course-title
                |土曜コース
            .dashboard-left-block-wrap-english-course-button
                a(href='#', onclick="alert('開発中です(トレーニング動画に行く予定)')") 
                  |学習動画はこちら                 
    //infoHowtoVisibleがtrueの時に「開校のお知らせ」を表示
    if infoHowtoVisible
      .dashboard-left-block.dashboard-left-block-guide 
        .dashboard-left-block-title
          |使い方ガイド
        ul.dashboard-left-block-links
          li 
            //stg238
            a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=238')
              |新しい科目を受講したい  
          li 
            //stg240               
            a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=240')
              |授業への参加方法は？
          li 
            //stg239
            a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=239')
              |過去の授業動画の視聴方法は？
          li 
            //stg241
            a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=241')
              |授業のレベルを変更したい        
  //infoOpeningVisibleがtrueの時に「開校のお知らせ」を表示
  if infoOpeningVisible 
    .dashboard-main-info(style='display:none;')
          h5.card-title|開校のお知らせ
          .dashboard-main-info-text 
            b|ワオ未来塾は2025年4月に開校します。
            br
            |開校前のイベントとして2月25日〜4月4日の間で未来塾の講座が
            br.c-sp-hidden
            |たっぷり体験できる 無料体験MONTHを開催しています
          .dashboard-main-info-button
            a(href='https://go.waomirai.com/event-2025march', target='_blank') 
              |詳細を見る
          .dashboard-main-info-right.c-sp-hidden
             img(src='https://go.waomirai.com/l/1026513/2025-02-13/hfgk8/1026513/1739425024ssYWoCzA/img_2025march_events_pc.png')
          .dashboard-main-info-bottom.c-pc-hidden
             img(src='https://go.waomirai.com/l/1026513/2025-02-13/hfgkc/1026513/1739425024IalrS0n9/img_2025march_events_sp.png')
  .dashboard-main#todays-subject-pc
    //ダッシュボードのバナー
    .c-alert-banner.alert-buy-course.c-sp-hidden
      .c-alert-banner-left 
          .c-alert-banner-left-icon
            //- i.fa-solid.fa-ice-cream.fa-5x
            i.icon.fa.fa-solid.fa-circle-exclamation
          .c-alert-banner-text 
            .c-alert-banner-text-title 
              |
  .dashboard-main
    .dashboard-main-navi.c-pc-hidden
        a.dashboard-main-navi-child.scroll-to-block_calendar_month(href='#') 
            .dashboard-main-navi-child-img 
                img(src='https://go.waomirai.com/l/1026513/2025-01-05/hbd34/1026513/1736131604vz7kVmsa/icn_calender.svg')
            .dashboard-main-navi-child-text 
              |受講カレンダー
            //下の矢印
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap 
        a.dashboard-main-navi-child.scroll-to-dashboard-sp-content(href='#') 
            .dashboard-main-navi-child-img 
                img(src='https://go.waomirai.com/l/1026513/2025-01-05/hbd31/1026513/17361316040W4smv7Z/icn_subject.svg')
            .dashboard-main-navi-child-text 
              |受講科目の確認
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap 
        a.dashboard-main-navi-child.scroll-to-dashboard-left-block-guide-scroll(href='#') 
            .dashboard-main-navi-child-img 
                img(src='https://go.waomirai.com/l/1026513/2025-01-05/hbd37/1026513/1736131604KlZKQe9J/icn_guide.svg')
            .dashboard-main-navi-child-text 
              |受講ガイド   
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap
    .dashboard-main-class
        h5.card-title|本日の授業
        .dashboard-main-class-content#dashboard-main-today-class 
          //何も受講していない時
          div#todays-event-subject-none(style='display:none;')
            .c-alert-banner.alert-buy-course
                .c-alert-banner-left 
                    .c-alert-banner-left-icon
                      i.icon.fa.fa-solid.fa-circle-exclamation
                    .c-alert-banner-text 
                      .c-alert-banner-text-title 
                        |受講している科目がありません。科目の受講登録をしましょう。
            h6|複数科目で受講する
            .dashboard-main-contents-subtitle 
               |哲学、科学、経済の３科目はまとめて受講することで受講費用が割引になります。
               span.c-sp-hidden|※英語/プログラミングは割引対象外です。
            .dashboard-main-contents-block-cards 
                a(href=link_twosubjectpack).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=imgSubjectTwosubjectpack)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-multisubject
                      .common-contents-block-cards-course-detail-title 
                          |２科目セット
                      .common-contents-block-cards-course-detail-text 
                          |２科目選んで11,000円 (2,200円お得！)
                a(href=link_threesubjectpack).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                       img(src=imgSubjectThreesubjectpack)
                  .common-contents-block-cards-course-detail 
                    .common-contents-block-cards-course-detail-wrap.block-multisubject
                      .common-contents-block-cards-course-detail-title 
                          |３科目セット
                      .common-contents-block-cards-course-detail-text 
                          |３科目選んで15,400円 (4,400円お得！)
            h6|単品科目で受講する
            .dashboard-main-contents-block-cards.dashboard-main-contents-block-cards-normargin
                a(href=link_philosophy).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=imgSubjectPhilosophy )
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-philosophy
                      .common-contents-block-cards-course-detail-title 
                          |哲学（思考力）
                      .common-contents-block-cards-course-detail-text 
                          |自分で考える力を鍛える
                a(href=link_science).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=imgSubjectScience)
                  .common-contents-block-cards-course-detail 
                    .common-contents-block-cards-course-detail-wrap.block-science
                      .common-contents-block-cards-course-detail-title 
                          |科学リテラシー
                      .common-contents-block-cards-course-detail-text 
                          |知らない世界にも視野を広げ、知的好奇心を育む
                a(href=link_economy).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=imgSubjectEconomy)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-economy
                      .common-contents-block-cards-course-detail-title 
                          |経済（お金）
                      .common-contents-block-cards-course-detail-text 
                          |お金の基礎知識と考え方・付き合い方を身につける
                a(href=link_english).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=imgSubjectEnglish)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-english
                      .common-contents-block-cards-course-detail-title 
                          |グローバル英語
                      .common-contents-block-cards-course-detail-text 
                          |シンプルで実用的な英語を使いこなす
                a(href=link_programming).common-contents-block-cards-course.click-event-subject-comingsoon
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-text 
                       |4月開講予定
                    .common-contents-block-cards-course-img-detail
                        img(src=imgSubjectProgramming )
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-programming
                        .common-contents-block-cards-course-detail-title 
                            |クリエイティブ・プログラミング
                        .common-contents-block-cards-course-detail-text 
                            |子どもの習いごとで終わらせない
          //授業ない時
          div#todays-event-class-none(style='display:none;')
            .dashboard-main-class-content-text
             |本日は授業がありません 
          //授業ある時
          //以下div内にjsで出力
          div#todays-event-class-scheduled.c-pc-hidden

    //何かしらの受講科目がある時に表示
    .dashboard-main-class.c-pc-hidden
        h5.card-title|今月中に開催される授業
        .dashboard-main-class-content#dashboard-main-upcoming-class 
            //授業ない時
            #dashboard-main-upcoming-class-none(style='display:none')
              .dashboard-main-class-content-text 
                |今月は授業がありません 
            //授業ある時
            #dashboard-main-upcoming-class-scheduled