//2025年4月開校のお知らせの表示フラグ
//trueの場合は表示、falseの場合は非表示
- var infoOpeningVisible = false

  

//ダッシュボードにコピペするブロック
.dashboard-textblock
  .dashboard-left
    .dashboard-left-block.dashboard-left-block-subject
      ///////////////////////
      // 現在受講中の科目
      ///////////////////////
      .dashboard-left-block-title
        |現在受講中の科目
      .dashboard-left-block-wrap.dashboard-left-block-wrap-subject
      ///////////////////////
      // 授業のメモシート
      ///////////////////////

      .dashboard-left-block-worksheet 
        .dashboard-left-block-worksheet-title
          .dashboard-left-block-worksheet-title-text
            |授業の
            br.c-sp-hidden
            |メモシート
          .dashboard-left-block-worksheet-title-icon.c-sp-hidden
            img(src=IcnWorksheetWao alt="ワオ未来塾のアイコン") 
        .dashboard-left-block-worksheet-text 
            |授業中の学びを記録できる
            br
            |印刷用シートです。
            //- br
            //- |ご活用いただくとより授業が楽しめます
        .dashboard-left-block-worksheet-download.triger-download-memosheet-modal
            span.material-symbols-outlined
              |download
            .subject-page-added-note-content-download-text
                |ダウンロードする  
      ///////////////////////
      // バッジ
      ///////////////////////
      .dashboard-left-block-title
        |獲得したバッジ
      .dashboard-left-block-wrap.dashboard-left-block-wrap-badge
      ///////////////////////
      // LINE連携
      ///////////////////////
      .dashboard-left-block.dashboard-left-block-subject
        .dashboard-left-block-title
          |LINE連携
        .dashboard-left-block-wrap.dashboard-left-block-wrap-line 
          a.triger-line-integration-modal
            .dashboard-left-block-wrap.dashboard-left-block-wrap-line-img
              img(src=IcnLine alt="LINEアイコン")
            .dashboard-left-block-wrap.dashboard-left-block-wrap-line-text
              |LINEで受講サポートの
              br
              |通知を受け取る
    //infoHowtoVisibleがtrueの時に「開校のお知らせ」を表示
    .dashboard-left-block.dashboard-left-block-guide 
        .dashboard-left-block-title
          |使い方ガイド
        ul.dashboard-left-block-links
          li 
            a(href='https://lms.waomirai.com/mod/page/view.php?id=1351')
              |授業の参加方法
          li 
            a(href='https://lms.waomirai.com/mod/page/view.php?id=1348')
              |受講カレンダーに授業予定が表示されません
          li            
            a(href='https://lms.waomirai.com/mod/page/view.php?id=1349')
              |科目の受講レベルを変更したい
          li 
            a(href='https://lms.waomirai.com/mod/page/view.php?id=1436')
              |今受講している科目を別の科目に変更したい
          li 
            a(href='https://lms.waomirai.com/mod/page/view.php?id=1350')
              |受講カレンダーに同じ授業が２つあります
          li 
            a(href='https://lms.waomirai.com/mod/page/view.php?id=567')
              |有料講座を解約するには
    .dashboard-left-banner
      a(href="https://waomirai.com/lp/campaign-friend-referral-apply/" target="_blank").dashboard-left-banner-link
        img(src=ImgBannerFrRef alt="友だちを紹介して一緒に1500円分図書カードもらえる")

  .dashboard-main
    //ダッシュボードのバナー
    .c-alert-banner#alert-change-course(style='display:none;')
      .c-alert-banner-left 
          .c-alert-banner-text 
            .c-alert-banner-text-title 
              span.c-alert-banner-text-title-nextmonth 
              |月以降の受講レベル及び科目の変更、ご解約は
              b
               |「
               span.c-alert-banner-text-title-thismonth  
               |月
               span.c-alert-banner-text-title-thisday  
               |日」
              |までにお手続きをお願いします。詳細は
              a(href='https://go.waomirai.com/index-contact', target='_blank')|コチラ
          .c-alert-banner-close-change-course
  .dashboard-main#todays-subject-pc
    //ダッシュボードのバナー
    .c-alert-banner.alert-buy-course.c-sp-hidden
      .c-alert-banner-left 
          .c-alert-banner-left-icon
            i.icon.fa.fa-solid.fa-circle-exclamation
          .c-alert-banner-text 
            .c-alert-banner-text-title 
              |
  .dashboard-main
    .dashboard-main-navi.c-pc-hidden
        a.dashboard-main-navi-child.scroll-to-block_calendar_month(href='#') 
            .dashboard-main-navi-child-img 
                img(src=IcnCalender)
            .dashboard-main-navi-child-text 
              |受講カレンダー
            //下の矢印
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap 
        a.dashboard-main-navi-child.scroll-to-dashboard-sp-content(href='#') 
            .dashboard-main-navi-child-img 
                img(src=IcnSubject)
            .dashboard-main-navi-child-text 
              |受講科目の確認
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap 
        a.dashboard-main-navi-child.scroll-to-dashboard-left-block-guide-scroll(href='#') 
            .dashboard-main-navi-child-img 
                img(src=IcnGuide)
            .dashboard-main-navi-child-text 
              |受講ガイド   
            .dashboard-main-navi-child-arrow 
              .dashboard-main-navi-child-arrow-wrap
    .dashboard-main-class
        h5.card-title|本日の授業
        .dashboard-main-class-content#dashboard-main-today-class 
          //何も受講していない時
          div#todays-event-subject-none(style='display:none;')
            .c-alert-banner.alert-buy-course
                .c-alert-banner-left 
                    .c-alert-banner-left-icon
                      i.icon.fa.fa-solid.fa-circle-exclamation
                    .c-alert-banner-text 
                      .c-alert-banner-text-title 
                        |受講している科目がありません。科目の受講登録をしましょう。
            h6|複数科目で受講する
            .dashboard-main-contents-subtitle 
               |哲学、科学、経済の３科目はまとめて受講することで受講費用が割引になります。
               span.c-sp-hidden|※英語/プログラミングは割引対象外です。
            .dashboard-main-contents-block-cards 
                a(href=link_twosubjectpack).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=ImgSubjectTwoSubjectPack)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-multisubject
                      .common-contents-block-cards-course-detail-title 
                          |２科目セット
                      .common-contents-block-cards-course-detail-text 
                          |２科目選んで11,000円 (2,200円お得！)
                a(href=link_threesubjectpack).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                       img(src=ImgSubjectThreeSubjectPack )
                  .common-contents-block-cards-course-detail 
                    .common-contents-block-cards-course-detail-wrap.block-multisubject
                      .common-contents-block-cards-course-detail-title 
                          |３科目セット
                      .common-contents-block-cards-course-detail-text 
                          |３科目選んで15,400円 (4,400円お得！)
            h6|単品科目で受講する
            .dashboard-main-contents-block-cards.dashboard-main-contents-block-cards-normargin
                a(href=link_philosophy).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=ImgSubjectPhilosophy)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-philosophy
                      .common-contents-block-cards-course-detail-title 
                          |哲学（思考力）
                      .common-contents-block-cards-course-detail-text 
                          |自分で考える力を鍛える
                a(href=link_science).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=ImgSubjectScience)
                  .common-contents-block-cards-course-detail 
                    .common-contents-block-cards-course-detail-wrap.block-science
                      .common-contents-block-cards-course-detail-title 
                          |科学リテラシー
                      .common-contents-block-cards-course-detail-text 
                          |知らない世界にも視野を広げ、知的好奇心を育む
                a(href=link_economy).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=ImgSubjectEconomy)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-economy
                      .common-contents-block-cards-course-detail-title 
                          |経済（お金）
                      .common-contents-block-cards-course-detail-text 
                          |お金の基礎知識と考え方・付き合い方を身につける
                a(href=link_english).common-contents-block-cards-course
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src=ImgSubjectEnglish)
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-english
                      .common-contents-block-cards-course-detail-title 
                          |グローバル英語
                      .common-contents-block-cards-course-detail-text 
                          |シンプルで実用的な英語を使いこなす
                a(href=link_programming).common-contents-block-cards-course.click-event-subject-comingsoon
                  .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-text 
                       |COMING SOON
                    .common-contents-block-cards-course-img-detail
                        img(src=ImgSubjectProgramming )
                  .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-programming
                        .common-contents-block-cards-course-detail-title 
                            |クリエイティブ・プログラミング
                        .common-contents-block-cards-course-detail-text 
                            |子どもの習いごとで終わらせない
          //授業ない時
          div#todays-event-class-none(style='display:none;')
            .dashboard-main-class-content-text
             |本日は授業がありません 
          //授業ある時
          //以下div内にjsで出力
          div#todays-event-class-scheduled.c-pc-hidden

    //何かしらの受講科目がある時に表示
    .dashboard-main-class.c-pc-hidden
        h5.card-title|今月中に開催される授業
        .dashboard-main-class-content#dashboard-main-upcoming-class 
            //授業ない時
            #dashboard-main-upcoming-class-none(style='display:none')
              .dashboard-main-class-content-text 
                |今月は授業がありません 
            //授業ある時
            #dashboard-main-upcoming-class-scheduled