//
doctype html
html(lang="jp")
  head
  body
    heads
      title WAO未来塾関連のページ一覧
      link(href="../static/css/application.css?undefined", rel="stylesheet")
      meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(charset="UTF-8")
      meta(name="robots", content="noindex,nofollow")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js")
      style.
              /* Moodle Listの基本スタイル */
        .moodle-list {
          font-family: Arial, sans-serif;
          padding-left: 20px;
          list-style: none;
        }

        .moodle-list > li {
          margin-bottom: 10px;
        }

        /* 階層構造のインデント */
        .moodle-list li > ul {
          margin-left: 0px;
          margin-top:10px;
        }

        .moodle-list li > ul li {
          margin-bottom: 5px;
        }

        /* リンクのスタイル */
        .moodle-list a {
          color: #0073e6;
          text-decoration: none;
        }

        .moodle-list a:hover {
          text-decoration: underline;
        }

        /* セクションごとのスタイル */
        .moodle-list li > ul > li {
          font-size: 14px;
          color: #333;
        }

        .moodle-list > li > span {
          font-weight: bold;
        }

        .moodle-list li > span {
          font-size: 16px;
          margin-bottom: 5px;
          display: block;
        }

        /* セクションタイトルのスタイル */
        .moodle-list li > ul > li > a {
          padding-left: 10px;
        }

        /* 最後のリストアイテムに余白を追加 */
        .moodle-list li:last-child {
          margin-bottom: 20px;
        }


      //- モジュール化されたリスト出力部分
    mixin moodleList(environment)
        h2 
         |#{environment}
        ul.moodle-list
              li
                | moodleログイン
                ul
                  li
                    a(href=`${environment}/signup/page-moodle-login.html`) ログイン
                  li
                    a(href=`${environment}/signup/page-moodle-forgot-password.html`) パスワード紛失
                  li 
                    a(href=`${environment}/signup/page-moodle-signup-input.html`) 入力画面
                  li 
                    a(href=`${environment}/signup/page-moodle-signup-temporary.html`) 仮登録
                  li 
                    a(href=`${environment}/signup/page-moodle-signup-complate.html`) 完了

              li 
                | ホーム
                ul
                  li
                    a(href=`${environment}/index/page-index-guest.html`) ゲスト
                  li 
                    a(href=`${environment}/index/page-index-logged-in-purchased.html`) ログイン済
                  li 
                    a(href=`${environment}/index/page-index-logged-in-perchaced.html`) 購入済み

              li
                | ダッシュボード
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                    |JSなし、ダッシュボードコピペ用
                ul
                  li
                    a(href=`${environment}/dashboard/page-nojs.html`) JSなし、ダッシュボードコピペ用
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                    |何も買っていない
                ul
                  li
                    a(href=`${environment}/dashboard/page-single-none.html`) 何も買っていない
                div(style='font-size:87%; margin:0 0 0 20px;') 
                    |１科目購入
                ul
                  li 
                    a(href=`${environment}/dashboard/page-single-ph.html`) １科目購入（哲学）
                  li 
                    a(href=`${environment}/dashboard/page-single-sc.html`) １科目購入（科学）
                  li 
                    a(href=`${environment}/dashboard/page-single-ec.html`) １科目購入（経済）
                  li 
                    a(href=`${environment}/dashboard/page-single-en.html`) １科目購入（英語）
                  li 
                    a(href=`${environment}/dashboard/page-single-pr.html`) １科目購入（プログラミング）
                  li 
                    a(href=`${environment}/dashboard/page-single-two.html`) １科目購入（2科目パック）
                  li 
                    a(href=`${environment}/dashboard/page-single-three.html`) １科目購入（3科目パック）
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                    |サブ科目購入
                ul
                  li 
                    a(href=`${environment}/dashboard/page-multi-sc-sc2.html`) 科学＋科学L2
                  li 
                    a(href=`${environment}/dashboard/page-multi-sc-sc2-en.html`) 科学＋科学L2＋英語
                  li 
                    a(href=`${environment}/dashboard/page-multi-sc-sc2-ec.html`) 科学＋科学L2＋経済
                  li 
                    a(href=`${environment}/dashboard/page-multi-two-sc2-ec2.html`) ２科目＋科学L2＋経済L2
                  li 
                    a(href=`${environment}/dashboard/page-multi-three-sc3-ec3-ph3.html`) ３科目＋哲学L3＋科学L3＋経済L3
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                    |カレンダー検証
                ul
                  li 
                    a(href=`${environment}/dashboard/page-calender-01none.html`) 01_今日予定なし｜明日以降予定なし
                  li 
                    a(href=`${environment}/dashboard/page-calender-02todayonly.html`) 02_今日予定あり｜明日以降予定なし
                  li 
                    a(href=`${environment}/dashboard/page-calender-03aftertomorrow.html`) 03_今日予定なし｜明日以降予定あり
                  li 
                    a(href=`${environment}/dashboard/page-calender-04today_after.html`) 04_今日予定あり｜明日以降予定あり

              li
                | 科目購入
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  |哲学
                ul
                  li
                    a(href=`${environment}/course-enrol/page-enrol-ph-none.html`) 哲学（何も買っていない）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-ph-sc.html`) 哲学（科学購入済）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-ph-two.html`) 哲学（2科目セット購入済）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-ph-three.html`) 哲学（3科目セット購入済）
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  |科学
                ul
                  li
                    a(href=`${environment}/course-enrol/page-enrol-sc-none.html`) 科学（何も買っていない）

                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  |経済
                ul
                  li
                    a(href=`${environment}/course-enrol/page-enrol-ec-none.html`) 経済（何も買っていない）

                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  |英語
                ul
                  li
                    a(href=`${environment}/course-enrol/page-enrol-en.html`) 英語（何も買っていない）
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  |2科目パック
                ul
                  li
                    a(href=`${environment}/course-enrol/page-enrol-two-none.html`) 2科目パック（何も買っていない）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-two-sc.html`) 2科目パック（科学購入済）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-two-ec.html`) 2科目パック（経済購入済）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-two-three.html`) 2科目パック（3科目セット購入済）
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  |3科目パック
                ul
                  li
                    a(href=`${environment}/course-enrol/page-enrol-three-none.html`) 3科目パック（何も買っていない）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-three-sc.html`) 3科目パック（科学購入済）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-three-ec.html`) 3科目パック（経済購入済）
                  li
                    a(href=`${environment}/course-enrol/page-enrol-three-two.html`) 3科目パック（2科目セット購入済）
              
              li
                | 購入した後の科目ページ（course-view-topics）
                include lms-moodle/page-course-view-topics/_id-user-edit.pug
                ul
                  each item in useredit
                    li
                      a(href=`${environment}/page-course-view-topics/${item.id}.html`) #{item.SubjectPageTitle}
              li
                |講座の受講ヘルプページ
                ul
                  li
                    a(href=`${environment}/page-mod-page-view/page-help-change-levels.html`)  授業レベルの変更方法
                  li
                    a(href=`${environment}/page-mod-page-view/page-help-how-to-buy-subject.html`)  科目を購入しましたがカレンダーに授業予定が表示されません
                  li
                    a(href=`${environment}/page-mod-page-view/page-help-how-to-attend-class.html`)  授業の参加方法
                  li
                    a(href=`${environment}/page-mod-page-view/page-help-which-class-to-attend.html`)  １週間に同じ授業が２つあります。どれに参加すればいいですか？
                  li
                    a(href=`${environment}/page-mod-page-view/page-help-watch-archive-class.html`)  アーカイブ動画の見方
              li
                | 授業レベル設定ロジック
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  | 何も買っていない
                ul
                  li
                    a(href=`${environment}/page-user-edit/page-user-edit-template.html`) 何も買っていない
                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  | サブ科目設定なし
                ul
                  li
                    a(href=`${environment}/page-user-edit/ph-none.html`) 哲学
                  li
                    a(href=`${environment}/page-user-edit/sc-none.html`) 科学
                  li
                    a(href=`${environment}/page-user-edit/ec-none.html`) 経済
                  li
                    a(href=`${environment}/page-user-edit/en-none.html`) 英語
                  //- li
                  //-   a(href=`${environment}/page-user-edit/ph-and-sc.html`) 哲学＋科学
                  //- li
                  //-   a(href=`${environment}/page-user-edit/ph-and-ec.html`) 哲学＋経済
                  //- li
                  //-   a(href=`${environment}/page-user-edit/sc-and-ec.html`) 科学＋経済
                  //- li
                  //-   a(href=`${environment}/page-user-edit/sc-and-ec-and-ph.html`) 科学＋経済＋科学
                  li
                    a(href=`${environment}/page-user-edit/two-none.html`) 2科目セット
                  li
                    a(href=`${environment}/page-user-edit/three-none.html`) 3科目セット

                div(style='font-size:87%; margin:20px 0 0 20px;') 
                  | すでに登録
                ul
                  li
                    a(href=`${environment}/page-user-edit/ph-register.html`) 哲学
                  li
                    a(href=`${environment}/page-user-edit/sc-register.html`) 科学
                  li
                    a(href=`${environment}/page-user-edit/ec-register.html`) 経済
                  li
                    a(href=`${environment}/page-user-edit/two-register.html`) 2科目セット
                  li
                    a(href=`${environment}/page-user-edit/three-register.html`) 3科目セット
                  li
                    a(href=`${environment}/page-user-edit/en-register.html`) 英語

              li
                | 設定関連
                ul
                  li
                    a(href=`${environment}/mypage/page-mypage.html`) マイページ
                  li 
                    a(href=`${environment}/setting/page-user-setting.html`) ユーザ設定
    div(style="display:flex;width:calc(70% + 40px); margin:0 auto;display: grid;grid-template-columns: repeat(2, 1fr);grid-template-rows: 1fr;grid-column-gap: 30px;")
      //- div(style="padding:10px 20px 30px; box-shadow:0 5px 10px #ccc;")
      //-   block content
      //-     +moodleList('moodle-stg')
      div(style="padding:10px 20px 30px; box-shadow:0 5px 10px #ccc;")
        block content
          +moodleList('moodle-lms')
  