
.lms-index-fv.c-sp-hidden
    .lms-index-main 
      .lms-index-main-left 
        img(src='	https://go.waomirai.com/l/1026513/2024-12-02/h8wgx/1026513/1733186880WsdmfkRf/text.svg')
      .lms-index-main-right
        img(src='https://go.waomirai.com/l/1026513/2024-12-02/h8wh4/1026513/1733187240kSGJZ9GR/people.png')
    .lms-index-bg
        img(src='https://storage.pardot.com/1026513/1733188460BOTZkmL2/bg.png')
.lms-index-sp-fv.c-pc-hidden 
  img(src='https://go.waomirai.com/l/1026513/2024-12-24/hb5q7/1026513/1735027943o0ZYzqS9/fv_2.png')
.lms-index-contents 
  .lms-index-contents-block 
    .lms-index-contents-block-title
      .lms-index-contents-block-title-main 
        |ワオ未来塾の始め方
      .lms-index-contents-block-title-sub 
        |簡単３ステップで始めることができます
    .lms-index-contents-block-step 
      .lms-index-contents-block-step-child 
        .lms-index-contents-block-step-child-step.c-pc-hidden 
          |01
        .lms-index-contents-block-step-child-title 
           span|❶
           |科目を受講登録
        .lms-index-contents-block-step-child-img 
          img(src='https://go.waomirai.com/l/1026513/2024-12-08/h975m/1026513/1733720027J4W3KczR/step1.png')       
      .lms-index-contents-block-step-child-arrow
      .lms-index-contents-block-step-child 
        .lms-index-contents-block-step-child-step.c-pc-hidden 
          |02
        .lms-index-contents-block-step-child-title 
           span|❷
           |受講カレンダーで
           br.spimage
           |予定確認
        .lms-index-contents-block-step-child-img 
          img(src='https://go.waomirai.com/l/1026513/2024-12-08/h975q/1026513/1733720027B97eAiCs/step2.png')       
      .lms-index-contents-block-step-child-arrow
      .lms-index-contents-block-step-child 
        .lms-index-contents-block-step-child-step.c-pc-hidden 
          |03
        .lms-index-contents-block-step-child-title 
           span|❸
           |授業を受ける
        .lms-index-contents-block-step-child-img 
          img(src='	https://go.waomirai.com/l/1026513/2024-12-08/h975t/1026513/1733720027GfAZnnfm/step3.png')       
  .lms-index-contents-block#lms-index-contents-block-subject
    .lms-index-contents-block-title 
      .lms-index-contents-block-title-main 
        |科目一覧
      .lms-index-contents-block-title-sub 
        |受講したい科目の詳細の確認や受講登録ができます
    case env
        when 'stg'        
          .lms-index-contents-block-cards 
              a(href=link_philosophy).common-contents-block-cards-course
                .common-contents-block-cards-course-img 
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbj/1026513/1723092444vFKe6VRn/subject_01.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-philosophy
                    .common-contents-block-cards-course-detail-title 
                        |哲学（思考力）
                    .common-contents-block-cards-course-detail-text 
                        |自分で考える力を鍛える
              a(href=link_science).common-contents-block-cards-course
                .common-contents-block-cards-course-img 
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbx/1026513/1723092445qaV639ZU/subject_02.jpg')
                .common-contents-block-cards-course-detail 
                  .common-contents-block-cards-course-detail-wrap.block-science
                    .common-contents-block-cards-course-detail-title 
                        |科学リテラシー
                    .common-contents-block-cards-course-detail-text 
                        |知らない世界にも視野を広げ、知的好奇心を育む
              a(href=link_economy).common-contents-block-cards-course
                .common-contents-block-cards-course-img 
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbt/1026513/1723092445zMMVlFVz/subject_03.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-economy
                    .common-contents-block-cards-course-detail-title 
                        |経済（お金）
                    .common-contents-block-cards-course-detail-text 
                        |お金の基礎知識と考え方・付き合い方を身につける経済
              a(href=link_english).common-contents-block-cards-course
                .common-contents-block-cards-course-img 
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbq/1026513/1723092445NpS1HkfH/subject_04.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-english
                    .common-contents-block-cards-course-detail-title 
                        |グローバル英語
                    .common-contents-block-cards-course-detail-text 
                        |シンプルで実用的な英語を使いこなす
              a(href=link_programming).common-contents-block-cards-course
                .common-contents-block-cards-course-img 
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbm/1026513/1723092444UDZaTUyz/subject_05.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-programming
                      .common-contents-block-cards-course-detail-title 
                          |クリエイティブ・プログラミング
                      .common-contents-block-cards-course-detail-text 
                          |子どもの習いごとで終わらせない
        when 'lmswaomirai'
          .lms-index-contents-block-cards  
              a(href=link_english).common-contents-block-cards-course
                .common-contents-block-cards-course-img 
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbq/1026513/1723092445NpS1HkfH/subject_04.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-english
                    .common-contents-block-cards-course-detail-title 
                        |グローバル英語
                    .common-contents-block-cards-course-detail-text 
                        |シンプルで実用的な英語を使いこなす
              a(href=link_philosophy).common-contents-block-cards-course.click-event-subject-comingsoon
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-text 
                       |2025年4月開講予定
                    .common-contents-block-cards-course-img-detail
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbj/1026513/1723092444vFKe6VRn/subject_01.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-philosophy
                    .common-contents-block-cards-course-detail-title 
                        |哲学（思考力）
                    .common-contents-block-cards-course-detail-text 
                        |自分で考える力を鍛える
              a(href=link_science).common-contents-block-cards-course.click-event-subject-comingsoon
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-text 
                       |2025年4月開講予定
                    .common-contents-block-cards-course-img-detail
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbx/1026513/1723092445qaV639ZU/subject_02.jpg')
                .common-contents-block-cards-course-detail 
                  .common-contents-block-cards-course-detail-wrap.block-science
                    .common-contents-block-cards-course-detail-title 
                        |科学リテラシー
                    .common-contents-block-cards-course-detail-text 
                        |知らない世界にも視野を広げ、知的好奇心を育む
              a(href=link_economy).common-contents-block-cards-course.click-event-subject-comingsoon
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-text 
                       |2025年4月開講予定
                    .common-contents-block-cards-course-img-detail
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbt/1026513/1723092445zMMVlFVz/subject_03.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-economy
                    .common-contents-block-cards-course-detail-title 
                        |経済（お金）
                    .common-contents-block-cards-course-detail-text 
                        |お金の基礎知識と考え方・付き合い方を身につける経済
              a(href=link_programming).common-contents-block-cards-course.click-event-subject-comingsoon
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-text 
                       |2025年4月開講予定
                    .common-contents-block-cards-course-img-detail
                      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbm/1026513/1723092444UDZaTUyz/subject_05.jpg')
                .common-contents-block-cards-course-detail
                  .common-contents-block-cards-course-detail-wrap.block-programming
                      .common-contents-block-cards-course-detail-title 
                          |クリエイティブ・プログラミング
                      .common-contents-block-cards-course-detail-text 
                          |子どもの習いごとで終わらせない