
-
  // 当月授業の画像URL
  // 月とレベルに基づいてレッスンテキストを取得する関数
  function getLessonTexts(subject, level, month) {
    const curriculum = yearCurriculum[subject][`level${level}`];
    const monthData = curriculum.find(item => item.month === month);
    
    if (!monthData) return null;
    
    return [
      monthData.subcontents1,
      monthData.subcontents2,
      monthData.subcontents3
    ];
  }

  // 現在の月を設定（手動で変更）
  var currentMonth = 5;
    
  var imgPhLv1Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv1_month2_week1.png';
  var imgPhLv1Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv1_month2_week2.png';
  var imgPhLv1Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv1_month2_week3.png';
  var imgPhLv2Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv2_month2_week1.png';
  var imgPhLv2Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv2_month2_week2.png';
  var imgPhLv2Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv2_month2_week3.png';
  var imgPhLv3Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv3_month2_week1.png';
  var imgPhLv3Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv3_month2_week2.png';
  var imgPhLv3Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv3_month2_week3.png';
  var imgPhLv4Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv4_month2_week1.png';
  var imgPhLv4Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv4_month2_week2.png';
  var imgPhLv4Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/phi_lv4_month2_week3.png';
  var imgScLv1Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv1_month2_week1.png';
  var imgScLv1Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv1_month2_week2.png';
  var imgScLv1Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv1_month2_week3.png';
  var imgScLv2Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv2_month2_week1.png';
  var imgScLv2Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv2_month2_week2.png';
  var imgScLv2Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv2_month2_week3.png';
  var imgScLv3Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv3_month2_week1.png';
  var imgScLv3Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv3_month2_week2.png';
  var imgScLv3Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv3_month2_week3.png';
  var imgScLv4Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv4_month2_week1.png';
  var imgScLv4Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv4_month2_week2.png';
  var imgScLv4Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/sci_lv4_month2_week3.png';
  var imgEcLv1Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv1_month2_week1.png';
  var imgEcLv1Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv1_month2_week2.png';
  var imgEcLv1Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv1_month2_week3.png';
  var imgEcLv2Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv2_month2_week1.png';
  var imgEcLv2Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv2_month2_week2.png';
  var imgEcLv2Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv2_month2_week3.png';
  var imgEcLv3Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv3_month2_week1.png';
  var imgEcLv3Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv3_month2_week2.png';
  var imgEcLv3Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv3_month2_week3.png';
  var imgEcLv4Week1 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv4_month2_week1.png';
  var imgEcLv4Week2 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv4_month2_week2.png';
  var imgEcLv4Week3 = 'https://waomirai.com/lp/assets/class-thumbnails/2026/eco_lv4_month2_week3.png';
-
  var yearCurriculum = {
    //哲学
    philosophy: {
      level1: [
        {
          
          "month": 4,
          "title": "友だちを作る「まほう図鑑」",
          "subcontents1": "友だちを作る\"まほうのコトバ\"",
          "subcontents2": "友だちを作る\"まほうのコウドウ\"",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "学びと遊び、どっちが大事？",
          "subcontents1": "学ぶこと、遊ぶこと、どう違う？",
          "subcontents2": "学びと遊びは両立する？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "「ほんとの気もち」を探す旅",
          "subcontents1": "怒るのがやさしさ？",
          "subcontents2": "がんばるの、やめてみた",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "動物と人間の深いカンケイ",
          "subcontents1": "ペットショップはもうかるの？",
          "subcontents2": "ヒトの病気をなおすための動物？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "学校から子どもが消える日",
          "subcontents1": "昔と今のクラスのちがい",
          "subcontents2": "暮らしやすい町、どんな町？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "やおよろずの神っているの？",
          "subcontents1": "神さまがうまれたとき",
          "subcontents2": "2026年にいる神さまは？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "世界からケンカが消えたら？",
          "subcontents1": "ケンカするほど仲がいい？",
          "subcontents2": "争いが世界を変える？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "千年前の恋物語",
          "subcontents1": "昔の世界をのぞいてみよう",
          "subcontents2": "「好き」な気持ちはみなおなじ？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "サンタクロースという生き方",
          "subcontents1": "波乗りサンタ！",
          "subcontents2": "たくさんの「目に映っている世界」",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "気になる！占いのなぞ",
          "subcontents1": "ラッキーアイテム、信じる？",
          "subcontents2": "決まった明日はつまらない？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "子どもは大人を見て育つ？",
          "subcontents1": "好きな先生、どんな人？",
          "subcontents2": "親は人生のお手本？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "目指せ！なりたい自分！",
          "subcontents1": "この春やりたいベスト3",
          "subcontents2": "未来の自分に手紙を書こう！",
          "subcontents3": "フィードバック"
        },
      ],
      level2: [
        {
          "year": 2026,
          "month": 4,
          "title": "転校生がやってきたら？",
          "subcontents1": "あなたが転校生だったら",
          "subcontents2": "やさしい行動って何かな？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "スポーツは時代の鏡？",
          "subcontents1": "eスポーツが習いごとに？",
          "subcontents2": "想像！あたらしいスポーツ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "「パクリ」と「パロディ」のちがいって？",
          "subcontents1": "これはパクリ？　パロディ？",
          "subcontents2": "オリジナルの歌詞を作ってみよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "もうひとりの私がいる世界",
          "subcontents1": "クローンに全部お任せ？",
          "subcontents2": "クローンと友だちになれる？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "じいじばあばのヒーローになろう！",
          "subcontents1": "少子化時代のわたしたち",
          "subcontents2": "将来の日本を助けよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "星が願いをかなえてくれる？",
          "subcontents1": "祈りって誰に向かっているの？",
          "subcontents2": "願うことで何か変わるの？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "あなたのウソは何のため？",
          "subcontents1": "ウソつきはどろぼうの始まり？",
          "subcontents2": "ウソで守られる日常",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "うたにのせる想い",
          "subcontents1": "感情は言葉でどこまで伝わる？",
          "subcontents2": "想いをのせて歌ってみよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "当たり前って「当たり前」？",
          "subcontents1": "お年玉って、なんで「おとしだま」？",
          "subcontents2": "当たり前をアップデート！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "運命は変えられないのか？",
          "subcontents1": "出会いは決まっていた？",
          "subcontents2": "未来は決まっているの？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "何がちがう？大人と子ども",
          "subcontents1": "あこがれの人教えて！",
          "subcontents2": "大人だってあまえたい！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "いざ！　自分リニューアル！",
          "subcontents1": "はじめる？　つづける？　やめる？",
          "subcontents2": "新学年の自分をえがこう！",
          "subcontents3": "フィードバック"
        },
      ],
      level3: [
        {
          "month": 4,
          "title": "桜が教えてくれること",
          "subcontents1": "春を迎えるための「寒さ」",
          "subcontents2": "散るからこその美しさ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "哲学こそクリエイティブ？",
          "subcontents1": "創作は哲学にあふれている！",
          "subcontents2": "創作に哲学をこめてみよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "AIアートは『偽物』か？",
          "subcontents1": "その感動、本物？",
          "subcontents2": "本物の表現とは？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "世界の発展が生み出す光と影",
          "subcontents1": "報われない労働者たち",
          "subcontents2": "便利さが生み出す犠牲",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "人間の存在価値はどう変わる？",
          "subcontents1": "人口減の国、人口増の国",
          "subcontents2": "未来社会の人の役割",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "自然は神様？　それとも脅威？",
          "subcontents1": "自然が\"こわい\"のはなぜ？",
          "subcontents2": "人間は自然をどう変えてきた？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "消費行動が映す「時代の空気」",
          "subcontents1": "モノ消費から関係性消費まで",
          "subcontents2": "アナタは何を求めて消費する？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "百人一首にひそむ恋と時のナゾ",
          "subcontents1": "恋のお悩み百人一首",
          "subcontents2": "時の流れと心",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "「常識を疑え」を疑え！",
          "subcontents1": "あなたはなぜ常識を疑う？",
          "subcontents2": "常識の疑い方",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "運命の赤い糸は何センチ？",
          "subcontents1": "運命の人は本当にいるの？",
          "subcontents2": "赤い糸が結ぶ未来",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "理想主義 vs 現実主義",
          "subcontents1": "理想的なクラスリーダー",
          "subcontents2": "選ばれる理想、捨てられる理想",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "幸せの未来地図",
          "subcontents1": "日々の小さな感動",
          "subcontents2": "未来のピースを探せ！",
          "subcontents3": "フィードバック"
        },
      ],
      level4: [
        {
          "month": 4,
          "title": "「さよならだけが人生」か？",
          "subcontents1": "「出会い」は偶然か、必然か",
          "subcontents2": "別れは終わりか、始まりか",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "人類が娯楽を求める理由",
          "subcontents1": "ワークライフバランスどうする？",
          "subcontents2": "娯楽の本質に迫る",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "「守破離」という思想",
          "subcontents1": "伝統を守るとは？　壊すとは？",
          "subcontents2": "守破と離の間にあるもの",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "求めた世界はこれなのか？",
          "subcontents1": "便利さ、まだ足りない？",
          "subcontents2": "地球をどれだけ暑くする？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "少子高齢化は悪なのか",
          "subcontents1": "「人が少ない社会」は絶望か、希望か",
          "subcontents2": "「誰が生きるべき？」を決めるのは誰か",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "「神は死んだ」のか？",
          "subcontents1": "人はなぜ「神」を必要としてきたのか",
          "subcontents2": "「神なき時代」の人間の生き方",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "「あなたの可能性」　有限？　無限？",
          "subcontents1": "キルケゴールの「絶望」",
          "subcontents2": "人間はハサミではない！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "世界は言葉でできている？",
          "subcontents1": "心にささる言葉たち",
          "subcontents2": "言葉にできない言葉ってある？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "常識をアップデートするとき",
          "subcontents1": "常識が誕生する瞬間",
          "subcontents2": "とある世界の常識を検討する",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "運命にしたがう？あらがう？",
          "subcontents1": "流されるとは何か？",
          "subcontents2": "選ぶとは何か？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "未熟と成熟の狭間で",
          "subcontents1": "成熟した大人とは？",
          "subcontents2": "未熟さは悪か",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "「闇深ければ暁近し」なのか？",
          "subcontents1": "不安や悩みの根源へ",
          "subcontents2": "悩みを祝福の鐘に",
          "subcontents3": "フィードバック"
        },
      ],
    },
    //科学
    science: {
      level1: [
        {
          "month": 4,
          "title": "朝ごはんと集中力の関係",
          "subcontents1": "朝ごはんを食べないとどうなる？",
          "subcontents2": "集中力の上がる朝ごはんとは？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "発見！パンダ成長のひみつ",
          "subcontents1": "体重は毎週どれだけ増える？",
          "subcontents2": "平均と最速成長を比べよう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "紙はどうやって生まれた？",
          "subcontents1": "木と布が紙になるまで",
          "subcontents2": "文字と知識を広げた紙のチカラ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "ジャンプの達人、バッタに学べ！",
          "subcontents1": "ゴム製ロボットって動けるの？",
          "subcontents2": "生き物をマネすると何がいい？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "なんでもつくれる不思議なプリンター",
          "subcontents1": "3Dプリンターのしくみをのぞこう",
          "subcontents2": "何を作る？夢の印刷アイデアを考えよう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "人類が宇宙を初めて見た夜",
          "subcontents1": "ガリレオがつくった望遠鏡",
          "subcontents2": "地球は動く？空からのメッセージ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "宇宙実験は地球で役立つ？",
          "subcontents1": "無重力のふしぎ",
          "subcontents2": "無重力で実験はどう変わる？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "同じ誕生日の仲間を80億人から探せ！",
          "subcontents1": "フェルミ推定で考える力をのばそう",
          "subcontents2": "計算の天才！エンリコ・フェルミ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "おふろで見つけた浮力のひみつ",
          "subcontents1": "おふろで発見！アルキメデスの物語",
          "subcontents2": "巨大な船が海に浮かぶワケ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "お年玉の平均額は？本当の真ん中のひみつ",
          "subcontents1": "みんなのお年玉を見える化しよう",
          "subcontents2": "平均と真ん中、どっちが「ふつう」？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "曲がるスマホ画面のひみつ",
          "subcontents1": "紙を黒く焼くと導線に？",
          "subcontents2": "未来のランドセルはスクリーン？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "ボルタの電池が灯した未来",
          "subcontents1": "自然観察から生まれた電池",
          "subcontents2": "ボルタの電池革命",
          "subcontents3": "フィードバック"
        },
      ],
      level2: [
        {
          "month": 4,
          "title": "月に住むには何が必要！？",
          "subcontents1": "月の極に氷がある理由は？",
          "subcontents2": "月で暮らす水循環を設計せよ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "勝利の鍵はデータ！スポーツの戦略を立てよう",
          "subcontents1": "打率と得点の関係",
          "subcontents2": "勝つための指標を選ぼう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "遠くの声が聞こえた日！電話の誕生と通信革命",
          "subcontents1": "糸電話からはじまる発明ストーリー",
          "subcontents2": "世界をつなぐ声のネットワーク",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "熱中症ゼロの街づくり",
          "subcontents1": "太陽の熱を宇宙へ返すふしぎなしくみ",
          "subcontents2": "超反射コーティング！屋根に塗ったら…？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "人口ピラミッドで未来を予測！",
          "subcontents1": "年代別人口を読み解こう",
          "subcontents2": "日本の30年後はどうなる？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "情報革命！本が大量印刷できた日",
          "subcontents1": "一文字ずつ作った金属の文字",
          "subcontents2": "知識があふれ出した活版印刷",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "プラスチックを食べる微生物？",
          "subcontents1": "微生物はなぜPETを分解できる？",
          "subcontents2": "ゴミが資源に？循環型社会を描こう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "地震ハザードマップを読む！",
          "subcontents1": "震度の強さと揺れ方の違い",
          "subcontents2": "自宅のリスクを評価せよ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "ダーウィンの進化論！生命のつながりの旅",
          "subcontents1": "ビーグル号の冒険と採集ノート",
          "subcontents2": "進化論がもたらした社会の議論",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "地球にやさしい鉄の作り方！",
          "subcontents1": "鉄と水素が出会うと何が起こる？",
          "subcontents2": "私たちの生活はどう変わる？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "１日で廃棄される食糧はどれくらい？",
          "subcontents1": "数字から考えるSDGs",
          "subcontents2": "予測から未来を変える",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "蒸気で走る！機関車が変えた歴史",
          "subcontents1": "蒸気エンジンのしくみを分解！",
          "subcontents2": "鉄道が変えた産業と暮らし",
          "subcontents3": "フィードバック"
        },
      ],
      level3: [
        {
          "month": 4,
          "title": "透明マントは夢じゃない！？",
          "subcontents1": "光を曲げる超構造とは？",
          "subcontents2": "通信・医療への応用を探る",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "気候変動の真実とは？",
          "subcontents1": "トレンドと変動を分けよう",
          "subcontents2": "生データをクリーニング",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "元素を並べたら世界が見えた！",
          "subcontents1": "周期表マスターになろう",
          "subcontents2": "未来の周期表を予言した男",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "アレルギーは体を守る仕組み！？",
          "subcontents1": "アレルギーって何だろう",
          "subcontents2": "進化と環境が生んだ、体の\"すれちがい\"",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "ワクチンは本当に効くのか？",
          "subcontents1": "ワクチンの「効果」を数値化する",
          "subcontents2": "最強のくじ引き「ランダム化」のしくみを探る",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "「ありえない」と言われた大陸移動説の100年",
          "subcontents1": "割れた地図パズルの謎",
          "subcontents2": "プレート・テクトニクスへの道",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "超伝導で浮上する！未来交通技術",
          "subcontents1": "超伝導とは抵抗ゼロ？",
          "subcontents2": "リニアが変える物流と都市",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "炎上と戦え！ビッグデータを武器にする",
          "subcontents1": "バイアスとプライバシー問題",
          "subcontents2": "テキストを数に変える",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "カビが命を救う？ペニシリン発見のドラマ",
          "subcontents1": "カビが生んだ偶然の発見",
          "subcontents2": "抗生物質が命を救う仕組み",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "微生物は空気から何を作る？",
          "subcontents1": "窒素とCO₂からタンパク質！",
          "subcontents2": "食料危機を救えるか？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "統計で未来予測！",
          "subcontents1": "データのかたよりはキケン？",
          "subcontents2": "散布図から関係を読む",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "宇宙は膨らんでいる？",
          "subcontents1": "宇宙の距離を測る天体のものさし",
          "subcontents2": "赤方偏移が語る膨張宇宙",
          "subcontents3": "フィードバック"
        },
      ],
      level4: [
        {
          "month": 4,
          "title": "CO₂を燃料に！人工光合成の挑戦",
          "subcontents1": "光触媒で水とCO₂が反応？",
          "subcontents2": "脱化石燃料の切り札！実装のシナリオ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "SNSのバズ、偶然？必然？",
          "subcontents1": "交絡とは何か",
          "subcontents2": "介入を仮想実験！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "データで病気を防げ！統計と疫学の夜明け",
          "subcontents1": "コレラマップで原因を追え！",
          "subcontents2": "データが健康政策を変える",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "宇宙エレベーターは実現できる！？",
          "subcontents1": "カーボンナノチューブの構造と合成技術",
          "subcontents2": "地球と宇宙を結ぶ輸送革命",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "本当に正しい？そのニュース",
          "subcontents1": "磨けリテラシー！フェイクを見抜く",
          "subcontents2": "デマに騙されないアップデート術",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "電気と磁石が出会う時",
          "subcontents1": "回すだけで電気が生まれる？",
          "subcontents2": "すべての人に科学を",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "スマホの画面割れは心配ない！",
          "subcontents1": "割れ目がなぜ塞がる？",
          "subcontents2": "持続可能な車と建物へ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "株価は予測？時系列解析の舞台裏",
          "subcontents1": "ランダムウォーク仮説",
          "subcontents2": "ARIMAモデルを組む",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "顕微鏡で見えない世界へ飛び込め！",
          "subcontents1": "しずくの中のミクロ生物発見",
          "subcontents2": "細胞理論へつながる観察革命",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "狙い撃ち！レーザーで宇宙ごみ掃除",
          "subcontents1": "宇宙ごみ、何が危険？",
          "subcontents2": "レーザーで軌道を変える方法",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "宇宙から見る夜景で経済がわかる！",
          "subcontents1": "衛星夜間光データ解析",
          "subcontents2": "地方格差を示せるか？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "原子の中心を撃ち抜け！",
          "subcontents1": "金箔にα粒子を当ててみた！",
          "subcontents2": "原子核モデルの登場と量子へ",
          "subcontents3": "フィードバック"
        },
      ],
    },
    //経済
    economy: {
      level1: [
        {
          "month": 4,
          "title": "なんでこんなにCM流れてくるの⁉",
          "subcontents1": "CMでほんとうに売れるの？",
          "subcontents2": "売れるためのCMを考えてみよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "なんで社長はお金持ちなの？",
          "subcontents1": "社長ってずるい？それともすごい？",
          "subcontents2": "社長になってみよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "「ありがとう」とお金と仕事",
          "subcontents1": "なんでもお金で解決していいの？",
          "subcontents2": "お金を動かすって、どういうこと？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "海外旅行で考える日本円と世界のお金",
          "subcontents1": "日本円は世界でどう使われている？",
          "subcontents2": "旅行計画を考えよう！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "君の『さいこうの町』をつくってみよう！",
          "subcontents1": "さいこうの町をつくるじゅんびをしよう！",
          "subcontents2": "みんなで決める税金の使い道",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "お金って、なにもの？",
          "subcontents1": "私たちはお金にどれだけ影響されている？",
          "subcontents2": "お金の力で、幸せを作るには？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "売れない文房具屋さんを救え！",
          "subcontents1": "売れないのはなぜ？理由を見つけよう！",
          "subcontents2": "売れる文房具屋さんになるには？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "お金のはじまりをさぐれ！",
          "subcontents1": "お金っていつからあるの？",
          "subcontents2": "未来には、お金がなくなる！？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "お年玉の使い道を考えよう！",
          "subcontents1": "お金を計画的に使うには？",
          "subcontents2": "お金で幸せは増やせる？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "色々なお金のかせぎかた！",
          "subcontents1": "仕事はなんのためにある？",
          "subcontents2": "自分の強みは\"お金\"になる？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "なんで世界にはいろいろなお金があるの？",
          "subcontents1": "世界のお金を見てみよう！",
          "subcontents2": "もしも世界のお金がひとつになったら？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "これがわたしの「人生の歩き方」！",
          "subcontents1": "「ゆたかさ」ってなんだろう？",
          "subcontents2": "お金で買えるもの、買えないもの",
          "subcontents3": "フィードバック"
        },
      ],
      level2: [
        {
          "month": 4,
          "title": "アナタが店長！売れるお店のつくり方",
          "subcontents1": "売上ランキングのナゾにせまる！",
          "subcontents2": "売れるお店を、この町につくろう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "なんで大人はおごるの？",
          "subcontents1": "大人がおごる意味",
          "subcontents2": "おごることの問題点って？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "「税金」が世界をつなげている⁉",
          "subcontents1": "日本の税金が海外に⁉",
          "subcontents2": "あなたならどんな国や人を支援する？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "無料ゲームのお金のヒミツ",
          "subcontents1": "無料ゲームってどうやって稼いでるの？",
          "subcontents2": "ゲームの世界から、現実へ！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "働き方を考えてみよう！",
          "subcontents1": "いろいろな働き方",
          "subcontents2": "あなたは何のために働く？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "お金の\"落とし穴\"",
          "subcontents1": "お金のトラブルが起きるのはなぜ？",
          "subcontents2": "お金のトラブルを起こさないためには？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "戦争は「お金」が原因！？",
          "subcontents1": "戦争とお金の関係って？",
          "subcontents2": "お金が動かす巨大な力",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "安いものは本当にお得！？",
          "subcontents1": "値段にだまされない経済学",
          "subcontents2": "「お得」の正体にせまる！",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "プレゼントがみんなに届くまで",
          "subcontents1": "ものが売れるまでの道のりをのぞいてみよう",
          "subcontents2": "便利な社会を支える人たち",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "「誰も見捨てない」にかかるお金",
          "subcontents1": "政府に大きい小さいがある？",
          "subcontents2": "社会に張られるネットワーク",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "モノの値段で考える、わたしたちの社会",
          "subcontents1": "モノの値段が上がるのはなぜ？",
          "subcontents2": "値上げは良いこと？悪いこと？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "未来のためのお金の使い方",
          "subcontents1": "投資ってなんだ？",
          "subcontents2": "投資をやってみよう！",
          "subcontents3": "フィードバック"
        },
      ],
      level3: [
        {
          "month": 4,
          "title": "お金の貯め方・使い方",
          "subcontents1": "自分だけの貯金術の見つけ方",
          "subcontents2": "お金の使い方：自分ルールを3つ決めよう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "投資を上手く使いこなそう",
          "subcontents1": "金融市場・株式投資を正しく知る",
          "subcontents2": "投資のマインドセット",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "人はいつお金のトラブルに陥る?",
          "subcontents1": "日常に潜む落とし穴　―浪費、借金、ギャンブル―",
          "subcontents2": "怪しい話の見分け方　―詐欺、闇バイト―",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "人生100年時代！ライフプランの考え方",
          "subcontents1": "生活に必要なお金",
          "subcontents2": "知っておくべき公的制度",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "就活の準備運動をしよう",
          "subcontents1": "世の中にはどんな仕事があるんだろう？",
          "subcontents2": "君の職業選択の基準を考えよう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "株式会社を正しく知り、未来を予想しよう",
          "subcontents1": "株式会社を知れば社会が分かる",
          "subcontents2": "業績を読み解き、戦略を推理してみよう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "会社の戦略・戦術を研究しよう",
          "subcontents1": "世の中はビジネスモデルでできている",
          "subcontents2": "心理学をビジネスで使うなら？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "起業家という道",
          "subcontents1": "何が起業家を動かすのか / 何を考えているのか",
          "subcontents2": "君の役割は何だ？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "銀行は本当は何をしているのか?",
          "subcontents1": "窓口の向こう側　―預金・融資の仕組み―",
          "subcontents2": "なぜ銀行がないと社会は回らないのか",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "政府は何をするところ？",
          "subcontents1": "税金の仕組み",
          "subcontents2": "公共政策の役割と効果",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "地政学 × 経済学で世の中が分かる",
          "subcontents1": "為替レートの変動の要因と影響",
          "subcontents2": "現代の国際経済の読み解き方",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "政治家という道",
          "subcontents1": "政治家の仕事を正しく知る",
          "subcontents2": "君のマニフェストは何だ？",
          "subcontents3": "フィードバック"
        },
      ],
      level4: [
        {
          "month": 4,
          "title": "貯金術が身につく考え方のくせとは？",
          "subcontents1": "資産管理・運用の理論とテクニック",
          "subcontents2": "自分の貯金・投資計画を考える",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "意外と身近なお金のトラブル",
          "subcontents1": "お金のトラブルの統計と対策",
          "subcontents2": "身近な人がお金のトラブルに遭ったら",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "金銭感覚の心理学",
          "subcontents1": "金銭感覚が狂う事例と要因",
          "subcontents2": "自分の金銭感覚を数値化してみよう",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "中高生でも分かる令和のコメ騒動",
          "subcontents1": "日本の農業の何が問題なのか?",
          "subcontents2": "君が農水大臣ならどうする?",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "これからどうなる物価高！",
          "subcontents1": "物価の経済理論",
          "subcontents2": "近年の物価高の要因分析と対策の議論",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "10年後、日本の地方は輝いているか?",
          "subcontents1": "様々な地方の課題を知る",
          "subcontents2": "君のアイデアで地方を輝かせられるか",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "世界経済から理解する日本の経済",
          "subcontents1": "貿易と外国為替の基礎",
          "subcontents2": "日本は国際経済とどう向き合うか",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "経済学者たちはなぜケンカしている?",
          "subcontents1": "財政の基礎を知ろう（税・国債）",
          "subcontents2": "財政をめぐる論争の読み解き方",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "経済の舵取りをする者たち",
          "subcontents1": "金融政策の理論",
          "subcontents2": "各国中央銀行の動向分析",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "今、株式市場はどうなっているのか?",
          "subcontents1": "資産運用立国の意義と進捗",
          "subcontents2": "国際金融市場動向の読み解き方",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "寝れない医者、もうからない病院",
          "subcontents1": "日本の医療を取り巻く現状",
          "subcontents2": "病院経営の赤字問題と医師不足の問題",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "新しい年金制度をどう作る?",
          "subcontents1": "年金の経済理論",
          "subcontents2": "日本の社会保障問題について考える",
          "subcontents3": "フィードバック"
        },
      ],
    },
    //英語
    globalenglish: {
        level1: [
            {
              "month": 4,
              "title": "自分の欲しいものを英語でプレゼン【前半】",
              "subcontents1": "Letの発音は”レット”じゃダメ!音を止める練習をしよう",
              "subcontents2": "「家で」はatかinどちらを使う?カタマリで覚えればもう悩まない!",
              "subcontents3": "「欲しいもの」「自転車に乗った」などを英語で"
            },
            {
              "month": 5,
              "title": "自分の欲しいものを英語でプレゼン【後半】",
              "subcontents1": "マウンテンバイクwant toは”わな”。リエゾン(音のつながり)で脱カタカナ英語",
              "subcontents2": "「したい」を伝える時は「キモチ」カードのI want toをチョイス!",
              "subcontents3": "「楽しかった」「〇〇できたらな」などを英語で"
            },
            {
              "month": 6,
              "title": "家族に仕事の事を英語でインタビュー【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 7,
              "title": "家族に仕事の事を英語でインタビュー【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 8,
              "title": "人気スポットを英語でレポート【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 9,
              "title": "人気スポットを英語でレポート【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 10,
              "title": "自分の好きな事を英語でプレゼン【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 11,
              "title": "自分の好きな事を英語でプレゼン【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 12,
              "title": "習い事の先生にインタビュー【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 1,
              "title": "習い事の先生にインタビュー【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 2,
              "title": "人気のお店を英語でレポート【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 3,
              "title": "人気のお店を英語でレポート【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            }
        ],
        level2: [
                {
                  "month": 4,
                  "title": "日本の食べ物を英語でプレゼン【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 5,
                  "title": "日本の食べ物を英語でプレゼン【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 6,
                  "title": "人気のキャラクターにインタビュー【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 7,
                  "title": "人気のキャラクターにインタビュー【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 8,
                  "title": "日本の人気スポットを英語でレポート【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 9,
                  "title": "日本の人気スポットを英語でレポート【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 10,
                  "title": "日本の文化を英語でプレゼン【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 11,
                  "title": "日本の文化を英語でプレゼン【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 12,
                  "title": "人気の偉人にインタビュー【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 1,
                  "title": "人気の偉人にインタビュー【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 2,
                  "title": "外国人に人気のスポットを英語でレポート【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 3,
                  "title": "外国人に人気のスポットを英語でレポート【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                }
              ]
    },
  };
  // 授業データ（レベル、学年、レッスン内容）
  var thisMonthLessons = {
    //哲学
    philosophy: [
      {
        level: "1", // レベル名
        grade: "小3以上推奨", // 対象学年
        lessons: getLessonTexts('philosophy', 1, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgPhLv1Week${i + 1}`),
              text: text
          }))
      },
      {
        level: "2",
        grade: "小5以上推奨",
        lessons: getLessonTexts('philosophy', 2, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgPhLv2Week${i + 1}`),
              text: text
          }))
      },
      {
        level: "3", // レベル名
        grade: "中学生以上推奨", // 対象学年
        lessons: getLessonTexts('philosophy', 3, currentMonth).map((text, i) => ({
                week: `${i + 1}周目`,
                banner: eval(`imgPhLv3Week${i + 1}`),
                text: text
            }))
      },
      {
        level: "4",
        grade: "高校生以上推奨",
        lessons: getLessonTexts('philosophy', 4, currentMonth).map((text, i) => ({
                week: `${i + 1}周目`,
                banner: eval(`imgPhLv4Week${i + 1}`),
                text: text
            }))
      }
    ],
    //科学
    science: [
      {
        level: "1",
        grade: "小3以上推奨", // 対象学年
        lessons: getLessonTexts('science', 1, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgScLv1Week${i + 1}`),
              text: text
          }))
      },
      {
        level: "2",
        grade: "小5以上推奨",
        lessons: getLessonTexts('science', 2, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgScLv2Week${i + 1}`),
              text: text
          }))
      },
      {
        level: "3",
         grade: "中学生以上推奨", // 対象学年
        lessons: getLessonTexts('science', 3, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgScLv3Week${i + 1}`),
              text: text
          }))
      },
      {
        level: "4",
        grade: "高校生以上推奨",
        lessons: getLessonTexts('science', 4, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgScLv4Week${i + 1}`),
              text: text
          }))
      },
    ],
    //経済
    economy: [
      {
        level: "1",
        grade: "小3以上推奨",
        lessons: getLessonTexts('economy', 1, currentMonth).map((text, i) => ({
              week: `${i + 1}周目`,
              banner: eval(`imgEcLv1Week${i + 1}`),
              text: text
          }))
      },
      {
        level: "2",
        grade: "小5以上推奨",
        lessons: getLessonTexts('economy', 2, currentMonth).map((text, i) => ({
                  week: `${i + 1}周目`,
                  banner: eval(`imgEcLv2Week${i + 1}`),
                  text: text
              }))
      },
      {
        level: "3",
        grade: "中学生以上推奨", // 対象学年
        lessons: getLessonTexts('economy', 3, currentMonth).map((text, i) => ({
                  week: `${i + 1}周目`,
                  banner: eval(`imgEcLv3Week${i + 1}`),
                  text: text
              }))
      },
      {
        level: "4",
        grade: "高校生以上推奨",
        lessons: getLessonTexts('economy', 4, currentMonth).map((text, i) => ({
                  week: `${i + 1}周目`,
                  banner: eval(`imgEcLv4Week${i + 1}`),
                  text: text
              }))
      },
    ],
    //英語
    globalenglish: [
      {
        level: "1",
        grade: "英語初挑戦の方",
        lessons: [
          { week: "1周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "人気スポットを英語でレポート【前半】" },
          { week: "2周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "人気スポットを英語でレポート【後半】" },
          { week: "3周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "フィードバック" }
        ]
      },
      {
        level: "2",
        grade: "英語が少し話せる方",
        lessons: [
          { week: "1周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "日本の人気スポットを英語でレポート【前半】" },
          { week: "2周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "日本の人気スポットを英語でレポート【後半】" },
          { week: "3周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "フィードバック" }
        ]
      }
    ]
  };

  // 年間の授業カリキュラムデータ（月ごとの内容）



  // 曜日と時間割のデータ
  var weekdays = ['時間', '日', '月', '火', '水', '木', '金', '土'];
  var timeslots = {
    //哲学
    philosophy: [{
      time: '17:30 - 18:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 2 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 1 },
        { day: '土', subject: null }
      ]
      },{
      time: '18:30 - 19:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 1 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 2 },
        { day: '土', subject: null }
      ]
    },{
      time: '19:30 - 20:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 4 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 3 },
        { day: '土', subject: null }
      ]
    },{
      time: '20:30 - 21:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 3 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 4 },
        { day: '土', subject: null }
      ]
    },
    ],
    //科学
    science: [{
      time: '17:30 - 18:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null},
        { day: '水', subject: '科学', level: 1 },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 2 },
        { day: '土', subject: null }
      ]
      },{
      time: '18:30 - 19:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '科学', level: 2  },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 1 },
        { day: '土', subject: null }
      ]
    },{
      time: '19:30 - 20:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '科学', level: 3 },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 4 },
        { day: '土', subject: null }
      ]
    },{
      time: '20:30 - 21:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '科学', level: 4 },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 3 },
        { day: '土', subject: null }
      ]
    },
    ],
    //経済
    economy: [{
      time: '17:30 - 18:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null},
        { day: '水', subject: '経済', level: 2 },
        { day: '木', subject: '経済', level: 1 },
        { day: '金', subject: null },
        { day: '土', subject: null }
      ]
      },{
      time: '18:30 - 19:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '経済', level: 1 },
        { day: '木', subject: '経済', level: 2 },
        { day: '金', subject: null },
        { day: '土', subject: null }
      ]
    },{
      time: '19:30 - 20:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '経済', level: 4 },
        { day: '木', subject: '経済', level: 3 },
        { day: '金', subject: null},
        { day: '土', subject: null }
      ]
    },{
      time: '20:30 - 21:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '経済', level: 3 },
        { day: '木', subject: '経済', level: 4 },
        { day: '金', subject: null },
        { day: '土', subject: null }
      ]
    },
    ]
  };

