extends _layout_moodle.pug
block contents
  - var title = '講座の受講方法 | stg'  // 変数の定義
  body#page-admin-tool-catalogue-courseinfo(class="format-topics limitedwidth admin path-admin path-admin-tool path-admin-tool-catalogue chrome dir-ltr lang-ja_wp yui-skin-sam yui3-skin-sam lms-waomirai-com pagelayout-course course-230 context-2506 category-45 theme uses-drawers drawer-open-index jsenabled").
    <div class="toast-wrapper mx-auto py-0 fixed-top" role="status" aria-live="polite"></div>
    <div id="page-wrapper" class="d-print-block">

        <div>
        <a class="sr-only sr-only-focusable" href="#maincontent">メインコンテンツへスキップする</a>
    </div><script src="https://lms.waomirai.com/lib/javascript.php/1733297073/lib/polyfills/polyfill.js"></script>
    <script src="https://lms.waomirai.com/theme/yui_combo.php?rollup/3.18.1/yui-moodlesimple-min.js"></script><script src="https://lms.waomirai.com/lib/javascript.php/1733297073/lib/javascript-static.js"></script>
    <script>
    //<![CDATA[
    document.body.className += ' jsenabled';
    //]]>
    </script>


        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        <nav class="navbar fixed-top navbar-light bg-white navbar-expand" aria-label="サイトナビゲーション">
        
            <button class="navbar-toggler aabtn d-block d-md-none my-1 mr-2" data-toggler="drawers" data-action="toggle" data-target="theme_boost-drawers-primary">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">サイドパネル</span>
            </button>
        
            <a href="https://lms.waomirai.com/my/" class="navbar-brand d-none d-md-flex align-items-center m-0 mr-3 p-0 aabtn">
                    <img src="https://lms.waomirai.com/pluginfile.php/1/tool_tenant/headerlogo/2/%E7%84%A1%E9%A1%8C.png" class="logo mr-1" alt="stg">
            </a>
        
            <ul class="navbar-nav d-none d-md-flex mr-3 tenantswitch">
                <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" id="drop-down-67513a8dda6c367513a8dd96392" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" aria-controls="drop-down-menu-67513a8dda6c367513a8dd96392">
            <span class="current-tenant-name d-inline-block" title="【検証テナント】">【検証テナント】</span>
        </a>
        <div class="dropdown-menu" role="menu" id="drop-down-menu-67513a8dda6c367513a8dd96392" aria-labelledby="drop-down-67513a8dda6c367513a8dd96392">
                    <a class="dropdown-item" role="menuitem" href="https://lms.waomirai.com/admin/tool/tenant/switchtenant.php?switchtenantid=1&amp;redirecturl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;sesskey=Z3o5cAXP3q">Default tenant</a>
                    <a class="dropdown-item" role="menuitem" href="https://lms.waomirai.com/admin/tool/tenant/switchtenant.php?switchtenantid=3&amp;redirecturl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;sesskey=Z3o5cAXP3q">ワオ未来塾 学習ポータル</a>
                    <a class="dropdown-item" role="menuitem" href="https://lms.waomirai.com/admin/tool/tenant/switchtenant.php?switchtenantid=4&amp;redirecturl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;sesskey=Z3o5cAXP3q">ワオ会員テナント</a>
        </div>
    </li>
            </ul>
        
                <div class="primary-navigation">
                    <nav class="moremenu navigation observed">
                        <ul id="moremenu-67513a8dd84c4-navbar-nav" role="menubar" class="nav more-nav navbar-nav">
                                    <li data-key="home" class="nav-item" role="none" data-forceintomoremenu="false">
                                                <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/?redirect=0" tabindex="0" aria-current="true">
                                                    ホーム
                                                </a>
                                    </li>
                                    <li data-key="myhome" class="nav-item" role="none" data-forceintomoremenu="false">
                                                <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/my/" tabindex="-1">
                                                    ダッシュボード
                                                </a>
                                    </li>
                                    <li data-key="mycourses" class="nav-item" role="none" data-forceintomoremenu="false">
                                                <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/my/courses.php" tabindex="-1">
                                                    登録済み講座
                                                </a>
                                    </li>
                                    <li data-key="siteadminnode" class="nav-item" role="none" data-forceintomoremenu="false">
                                                <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/admin/search.php" tabindex="-1">
                                                    サイト管理
                                                </a>
                                    </li>
                                    <li data-key="" class="nav-item" role="none" data-forceintomoremenu="false">
                                                <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/user/profile.php" tabindex="-1">
                                                    マイページ
                                                </a>
                                    </li>
                                    <li data-key="" class="nav-item" role="none" data-forceintomoremenu="false">
                                                <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/user/preferences.php" tabindex="-1">
                                                    ユーザ設定
                                                </a>
                                    </li>
                            <li role="none" class="nav-item dropdown dropdownmoremenu d-none" data-region="morebutton">
                                <a class="dropdown-toggle nav-link " href="#" id="moremenu-dropdown-67513a8dd84c4" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                    さらに
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left" data-region="moredropdown" aria-labelledby="moremenu-dropdown-67513a8dd84c4" role="menu">
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
        
            <ul class="navbar-nav d-none d-md-flex my-1 px-1">
                <!-- page_heading_menu -->
                
            </ul>
            <div id="usernavigation" class="navbar-nav ml-auto">
                <div class="popover-region collapsed popover-region-notifications" id="nav-notification-popover-container" data-userid="9" data-region="popover-region">
        <div class="popover-region-toggle nav-link icon-no-margin" data-region="popover-region-toggle" role="button" aria-controls="popover-region-container-67513a8ddad3867513a8dd96393" aria-haspopup="true" aria-label=" 新しい通知のない通知ウィンドウを表示する   " tabindex="0">
                    <i class="icon fa fa-bell-o fa-fw " title="通知メニューに切り替える" role="img" aria-label="通知メニューに切り替える" aria-hidden="true"></i><span class="sr-only">通知メニューに切り替える</span>
            <div class="count-container hidden" data-region="count-container" aria-hidden="true">
                0
            </div>

        </div>
        <div id="popover-region-container-67513a8ddad3867513a8dd96393" class="popover-region-container" data-region="popover-region-container" aria-expanded="false" aria-hidden="true" aria-label="通知ウィンドウ" role="region">
            <div class="popover-region-header-container">
                <h3 class="popover-region-header-text" data-region="popover-region-header-text">通知</h3>
                <div class="popover-region-header-actions" data-region="popover-region-header-actions">        <a class="mark-all-read-button" href="#" title="すべてを既読にする" data-action="mark-all-read" role="button" aria-label="すべてを既読にする">
                <span class="normal-icon"><i class="icon fa fa-check fa-fw " aria-hidden="true"></i></span>
                <span class="loading-icon icon-no-margin"><i class="icon fa fa-circle-o-notch fa-spin fa-fw " title="読み込み中" role="img" aria-label="読み込み中" aria-hidden="true"></i><span class="sr-only">読み込み中</span></span>
            </a>
                <a href="https://lms.waomirai.com/message/notificationpreferences.php" title="通知プレファレンス" aria-label="通知プレファレンス">
                    <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i></a>
    </div>
            </div>
            <div class="popover-region-content-container" data-region="popover-region-content-container">
                <div class="popover-region-content" data-region="popover-region-content">
                            <div class="all-notifications" data-region="all-notifications" role="log" aria-busy="false" aria-atomic="false" aria-relevant="additions"></div>
            <div class="empty-message" tabindex="0" data-region="empty-message">あなたに通知はありません。</div>

                </div>
                <span class="loading-icon icon-no-margin"><i class="icon fa fa-circle-o-notch fa-spin fa-fw " title="読み込み中" role="img" aria-label="読み込み中" aria-hidden="true"></i><span class="sr-only">読み込み中</span></span>
            </div>
                    <a class="see-all-link" href="https://lms.waomirai.com/message/output/popup/notifications.php">
                        <div class="popover-region-footer-container">
                            <div class="popover-region-seeall-text">すべてを表示する</div>
                        </div>
                    </a>
        </div>
    </div>
        
                <div class="dropdown">
        <a class="nav-link dropdown-toggle no-caret icon-no-margin" href="#" id="workplace-menulink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="workplace-menu-67513a8dde8d567513a8dd96394">
        <i class="icon fa fa-th fa-fw " title="Workplaceのランチャーを切り替える" role="img" aria-label="Workplaceのランチャーを切り替える" aria-hidden="true"></i><span class="sr-only">Workplaceのランチャーを切り替える</span>
        </a>
        <div id="workplace-menu-67513a8dde8d567513a8dd96394" data-region="workplace-menu-content" class="workplace-menu p-0 dropdown-menu dropdown-menu-right" aria-labelledby="workplace-menulink">
                <div class="workplace-menu-grid p-2">
                        
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/tenant/details.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_tenant/1733297073/tenantappearance">
                            <span class="small">アピアランス</span>
                        </a>                    
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/reportbuilder/index.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/theme_workplace/1733297073/menu/report_builder">
                            <span class="small">カスタムレポート</span>
                        </a>                    
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/dynamicrule/index.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_dynamicrule/1733297073/icon">
                            <span class="small">ダイナミックルール</span>
                        </a>                    
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/program/index.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_program/1733297073/icon">
                            <span class="small">プログラム</span>
                        </a>                    
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/tenant/users.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_tenant/1733297073/usermanagement">
                            <span class="small">ユーザ</span>
                        </a>                    
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/organisation/index.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_organisation/1733297073/icon">
                            <span class="small">組織構造</span>
                        </a>                    
                        <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/certification/index.php">
                            <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_certification/1733297073/icon">
                            <span class="small">認定</span>
                        </a>            </div>
                <div class="border-top">
                    <div class="mx-4 mt-3 font-weight-bold small">
                        グローバル
                    </div>
                    <div class="workplace-menu-grid p-2">
                            
                            <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/custompage/index.php">
                                <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_custompage/1733297073/icon">
                                <span class="small">カスタムページ</span>
                            </a>                        
                            <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/course/management.php">
                                <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/theme_workplace/1733297073/menu/courses">
                                <span class="small">コース</span>
                            </a>                        
                            <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/wp/exportimport.php">
                                <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_wp/1733297073/exportimport">
                                <span class="small">マイグレーション</span>
                            </a>                        
                            <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/tenant/index.php">
                                <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_tenant/1733297073/icon">
                                <span class="small">全てのテナント</span>
                            </a>                        
                            <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/tenant/allusers.php">
                                <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_tenant/1733297073/users">
                                <span class="small">全てのユーザ</span>
                            </a>                        
                            <a class="workplace-menu-item p-1 p-sm-2 d-flex flex-column text-center align-items-center justify-content-center" href="https://lms.waomirai.com/admin/tool/certificate/manage_templates.php">
                                <img class="mb-2 px-3" alt="" src="https://lms.waomirai.com/theme/image.php/kenai/tool_certificate/1733297073/icon">
                                <span class="small">認定証</span>
                            </a>                </div>
                </div>
        </div>
    </div>
        
                <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
                        <div class="usermenu">
                                <div class="dropdown show">
                                    <a href="#" role="button" id="user-menu-toggle" data-toggle="dropdown" aria-label="ユーザメニュー" aria-haspopup="true" aria-controls="user-action-menu" class="btn dropdown-toggle">
                                        <span class="userbutton">
                                            <span class="avatars">
                                                    <span class="avatar current">
                                                        <span class="userinitials size-35">株サ</span>
                                                    </span>
                                            </span>
                                        </span>
                                    </a>
                                    <div id="user-action-menu" class="dropdown-menu dropdown-menu-right">
                                        <div id="usermenu-carousel" class="carousel slide" data-touch="false" data-interval="false" data-keyboard="false">
                                            <div class="carousel-inner">
                                                <div id="carousel-item-main" class="carousel-item active" role="menu" tabindex="-1" aria-label="ユーザ">
                                                            <a href="https://lms.waomirai.com/user/profile.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                マイページ
                                                            </a>
                                                        
                                                            <a href="https://lms.waomirai.com/grade/report/overview/index.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                評定
                                                            </a>
                                                        
                                                            <a href="https://lms.waomirai.com/calendar/view.php?view=month" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                カレンダー
                                                            </a>
                                                        
                                                            <a href="https://lms.waomirai.com/user/files.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                プライベートファイル
                                                            </a>
                                                        
                                                            <a href="https://lms.waomirai.com/reportbuilder/index.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                レポート
                                                            </a>
                                                        
                                                        <div class="dropdown-divider"></div>
                                                            <a href="https://lms.waomirai.com/user/preferences.php" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                ユーザ設定
                                                            </a>
                                                        
                                                            <a href="https://lms.waomirai.com/course/switchrole.php?id=230&amp;switchrole=-1&amp;returnurl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                ロールを切り替える ...
                                                            </a>
                                                        <div class="dropdown-divider"></div>
                                                            <a href="https://lms.waomirai.com/login/logout.php?sesskey=Z3o5cAXP3q" class="dropdown-item" role="menuitem" tabindex="-1">
                                                                    
                                                                ログアウト
                                                            </a>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="divider border-left h-75 align-self-center ml-1 mr-3"></div>
    <form action="https://lms.waomirai.com/editmode.php" method="post" class="d-flex align-items-center editmode-switch-form">
        <div class="input-group">
            <label class="mr-2 mb-0 " for="67513a8ddf0cf67513a8dd96395-editingswitch">
                編集モード
            </label>
            <div class="custom-control custom-switch">
                <input type="checkbox" name="setmode" class="custom-control-input" id="67513a8ddf0cf67513a8dd96395-editingswitch" data-context="2506" data-pageurl="https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=230">
                <span class="custom-control-label">&nbsp;</span>
            </div>
        </div>
        <input type="hidden" name="sesskey" value="Z3o5cAXP3q">
        <input type="hidden" name="pageurl" value="https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=230">
        <input type="hidden" name="context" value="2506">
        <noscript>
            <input type="submit" value="モードを設定する">
        </noscript>
    </form>
            </div>
        </nav>
        

    <div class="drawer drawer-left drawer-primary d-print-none" data-region="fixed-drawer" id="theme_boost-drawers-primary" data-preference="" data-state="show-drawer-primary" data-forceopen="0" data-close-on-resize="1" aria-hidden="true">
        <div class="drawerheader">
            <button class="btn drawertoggle icon-no-margin hidden" data-toggler="drawers" data-action="closedrawer" data-target="theme_boost-drawers-primary" data-toggle="tooltip" data-placement="right" title="ドロワを閉じる" data-aria-hidden-tab-index="" tabindex="-1">
                <i class="icon fa fa-times fa-fw " aria-hidden="true"></i>
            </button>
                        <img src="https://lms.waomirai.com/pluginfile.php/1/tool_tenant/headerlogo/2/%E7%84%A1%E9%A1%8C.png" class="logo py-1 h-100" alt="stg">

            <div class="drawerheadercontent hidden">
                
            </div>
        </div>
        <div class="drawercontent drag-container" data-usertour="scroller">
                    <div class="list-group">
                    <a href="https://lms.waomirai.com/?redirect=0" class="list-group-item list-group-item-action  " data-aria-hidden-tab-index="" tabindex="-1">
                        ホーム
                    </a>
                    <a href="https://lms.waomirai.com/my/" class="list-group-item list-group-item-action  " data-aria-hidden-tab-index="" tabindex="-1">
                        ダッシュボード
                    </a>
                    <a href="https://lms.waomirai.com/my/courses.php" class="list-group-item list-group-item-action  " data-aria-hidden-tab-index="" tabindex="-1">
                        登録済み講座
                    </a>
                    <a href="https://lms.waomirai.com/admin/search.php" class="list-group-item list-group-item-action  " data-aria-hidden-tab-index="" tabindex="-1">
                        サイト管理
                    </a>
                    <a href="https://lms.waomirai.com/user/profile.php" class="list-group-item list-group-item-action  " data-aria-hidden-tab-index="" tabindex="-1">
                        マイページ
                    </a>
                    <a href="https://lms.waomirai.com/user/preferences.php" class="list-group-item list-group-item-action  " data-aria-hidden-tab-index="" tabindex="-1">
                        ユーザ設定
                    </a>
            </div>
            <ul class="position-absolute fixed-bottom navbar-nav ml-3 tenantswitch">
                <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" id="drop-down-67513a8dda6c367513a8dd96392" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" aria-controls="drop-down-menu-67513a8dda6c367513a8dd96392" data-aria-hidden-tab-index="" tabindex="-1">
            <span class="current-tenant-name d-inline-block" title="【検証テナント】">【検証テナント】</span>
        </a>
        <div class="dropdown-menu" role="menu" id="drop-down-menu-67513a8dda6c367513a8dd96392" aria-labelledby="drop-down-67513a8dda6c367513a8dd96392">
                    <a class="dropdown-item" role="menuitem" href="https://lms.waomirai.com/admin/tool/tenant/switchtenant.php?switchtenantid=1&amp;redirecturl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;sesskey=Z3o5cAXP3q" data-aria-hidden-tab-index="" tabindex="-1">Default tenant</a>
                    <a class="dropdown-item" role="menuitem" href="https://lms.waomirai.com/admin/tool/tenant/switchtenant.php?switchtenantid=3&amp;redirecturl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;sesskey=Z3o5cAXP3q" data-aria-hidden-tab-index="" tabindex="-1">ワオ未来塾 学習ポータル</a>
                    <a class="dropdown-item" role="menuitem" href="https://lms.waomirai.com/admin/tool/tenant/switchtenant.php?switchtenantid=4&amp;redirecturl=%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;sesskey=Z3o5cAXP3q" data-aria-hidden-tab-index="" tabindex="-1">ワオ会員テナント</a>
        </div>
    </li>
            </ul>

        </div>
    </div>
            <div class="drawer drawer-left d-print-none" data-region="fixed-drawer" id="theme_boost-drawers-courseindex" data-preference="drawer-open-index" data-state="show-drawer-left" data-forceopen="0" data-close-on-resize="0" aria-hidden="true">
        <div class="drawerheader">
            <button class="btn drawertoggle icon-no-margin hidden" data-toggler="drawers" data-action="closedrawer" data-target="theme_boost-drawers-courseindex" data-toggle="tooltip" data-placement="right" title="コースインデックスを閉じる" data-aria-hidden-tab-index="" tabindex="-1">
                <i class="icon fa fa-times fa-fw " aria-hidden="true"></i>
            </button>
            
            <div class="drawerheadercontent hidden">
                                <div id="courseindexdrawercontrols" class="dropdown">
                        <button class="btn btn-icon rounded-circle mx-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="コースインデックスオプション" data-aria-hidden-tab-index="" tabindex="-1">
                            <i class="icon fa fa-ellipsis-v fa-fw m-0" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-action="expandallcourseindexsections" data-aria-hidden-tab-index="" tabindex="-1">
                                <i class="icon fa fa-angles-down fa-fw " aria-hidden="true"></i>
                                すべてを展開する
                            </a>
                            <a class="dropdown-item" href="#" data-action="collapseallcourseindexsections" data-aria-hidden-tab-index="" tabindex="-1">
                                <span class="dir-rtl-hide"><i class="icon fa fa-angles-right fa-fw " aria-hidden="true"></i></span>
                                <span class="dir-ltr-hide"><i class="icon fa fa-angles-left fa-fw " aria-hidden="true"></i></span>
                                すべてを折りたたむ
                            </a>
                        </div>
                    </div>

            </div>
        </div>
        <div class="drawercontent drag-container" data-usertour="scroller">
                            <nav id="courseindex" class="courseindex">
        <div id="courseindex-content">
            <div id="course-index" class="courseindex " role="tree">


        <div class="courseindex-section " id="course-index-section-698" data-for="section" data-id="698" data-number="0" role="treeitem" aria-owns="courseindexcollapse0" tabindex="-1" aria-selected="true" data-aria-hidden-tab-index="0">
            <div class="courseindex-item d-flex
                    
                    
                    courseindex-section-title" id="courseindexsection0" data-for="section_item" tabindex="-1">
                <a data-toggle="collapse" href="#courseindexcollapse0" class="courseindex-chevron icons-collapse-expand " aria-expanded="true" aria-controls="courseindexcollapse0" tabindex="-1" data-aria-hidden-tab-index="-1">
                    <span class="collapsed-icon icon-no-margin mr-1" title="展開する" tabindex="-1">
                        <span class="dir-rtl-hide" tabindex="-1"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true" tabindex="-1"></i></span>
                        <span class="dir-ltr-hide" tabindex="-1"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true" tabindex="-1"></i></span>
                        <span class="sr-only" tabindex="-1">展開する</span>
                    </span>
                    <span class="expanded-icon icon-no-margin mr-1" title="折りたたむ" tabindex="-1">
                        <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true" tabindex="-1"></i>
                        <span class="sr-only" tabindex="-1">折りたたむ</span>
                    </span>
                </a>
                <a href="https://lms.waomirai.com/course/view.php?id=230#section-0" class="courseindex-link text-truncate" data-action="togglecourseindexsection" data-for="section_title" tabindex="-1" data-aria-hidden-tab-index="-1">
                    一般
                </a>
                <span class="current-badge badge badge-primary ml-2 px-2 rounded-pill" tabindex="-1">
                    ハイライト
                </span>
                <span class="courseindex-locked ml-1" data-for="cm_name" tabindex="-1">
                    <i class="icon fa fa-lock fa-fw " aria-hidden="true" tabindex="-1"></i>
                </span>
                <span class="dragicon ml-auto" tabindex="-1"><i class="icon fa fa-arrows fa-fw " aria-hidden="true" tabindex="-1"></i></span>
            </div>
            <div id="courseindexcollapse0" class="courseindex-item-content collapse show" aria-labelledby="courseindexsection0" role="group" tabindex="-1">
                <ul class="courseindex-sectioncontent unlist" data-for="cmlist" data-id="698" role="group" tabindex="-1">


                    <li class="courseindex-item
                            
                            
                            
                            d-flex
                            " id="course-index-cm-1186" data-for="cm" data-id="1186" role="treeitem" tabindex="-1" aria-selected="false">
                        <span class="completioninfo completion_none" data-for="cm_completion" data-value="NaN"></span>
                        <a class="courseindex-link text-truncate" href="https://lms.waomirai.com/mod/forum/view.php?id=1186" data-for="cm_name" tabindex="-1" data-aria-hidden-tab-index="-1">
                            アナウンスメント
                        </a>
                        <span class="courseindex-locked ml-1" data-for="cm_name" tabindex="-1">
                            <i class="icon fa fa-lock fa-fw " aria-hidden="true" tabindex="-1"></i>
                        </span>
                        <span class="dragicon ml-auto" tabindex="-1"><i class="icon fa fa-arrows fa-fw " aria-hidden="true" tabindex="-1"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        </div>
    </nav>

        </div>
    </div>
        <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers   drag-container">
            <div id="topofscroll" class="main-inner">
                <div class="drawer-toggles d-flex">
                        <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                            <button class="btn icon-no-margin" data-toggler="drawers" data-action="toggle" data-target="theme_boost-drawers-courseindex" data-toggle="tooltip" data-placement="right" title="コースインデックスを開く">
                                <span class="sr-only">コースインデックスを開く</span>
                                <i class="icon fa fa-list fa-fw " aria-hidden="true"></i>
                            </button>
                        </div>
                </div>
                <header id="page-header" class="header-maxwidth d-print-none">
        <div class="w-100">
            <div class="d-flex flex-wrap">
                <div id="page-navbar">
                    <nav aria-label="ナビゲーションバー">
        <ol class="breadcrumb"></ol>
    </nav>
                </div>
                <div class="ml-auto d-flex">
                    
                </div>
                <div id="course-header">
                    
                </div>
            </div>
            <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <div class="page-context-header"><div class="page-header-headings"><h1 class="h2">テストページ（固定ページ検証）</h1></div></div>
                        </div>
                <div class="header-actions-container ml-auto" data-region="header-actions-container">
                </div>
            </div>
        </div>
    </header>
                    <div class="secondary-navigation d-print-none">
                        <nav class="moremenu navigation observed">
                            <ul id="moremenu-67513a8dd839a-nav-tabs" role="menubar" class="nav more-nav nav-tabs">
                                            <li data-key="coursehome" class="nav-item" role="none" data-forceintomoremenu="false">
                                                        <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/course/view.php?id=230" tabindex="-1">
                                                            コース
                                                        </a>
                                            </li>
                                            <li data-key="courseinfo" class="nav-item" role="none" data-forceintomoremenu="false">
                                                        <a role="menuitem" class="nav-link active active_tree_node " href="https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=230" aria-current="true">
                                                            詳細情報
                                                        </a>
                                            </li>
                                            <li data-key="editsettings" class="nav-item" role="none" data-forceintomoremenu="false">
                                                        <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/course/edit.php?id=230" tabindex="-1">
                                                            設定
                                                        </a>
                                            </li>
                                            <li data-key="participants" class="nav-item" role="none" data-forceintomoremenu="false">
                                                        <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/user/index.php?id=230" tabindex="-1">
                                                            参加者
                                                        </a>
                                            </li>
                                            <li data-key="grades" class="nav-item" role="none" data-forceintomoremenu="false">
                                                        <a role="menuitem" class="nav-link  " href="https://lms.waomirai.com/grade/report/index.php?id=230" tabindex="-1">
                                                            評定
                                                        </a>
                                            </li>
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                <li role="none" class="nav-item dropdown dropdownmoremenu" data-region="morebutton">
                                    <a class="dropdown-toggle nav-link " href="#" id="moremenu-dropdown-67513a8dd839a" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                        さらに
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-left" data-region="moredropdown" aria-labelledby="moremenu-dropdown-67513a8dd839a" role="menu">
                                    <li data-key="coursereports" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/report/view.php?courseid=230" tabindex="-1">
                                                            レポート
                                                        </a>
                                            </li><li data-key="questionbank" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/question/edit.php?courseid=230" tabindex="-1">
                                                            問題バンク
                                                        </a>
                                            </li><li data-key="contentbank" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/contentbank/index.php?contextid=2506" tabindex="-1">
                                                            コンテンツバンク
                                                        </a>
                                            </li><li data-key="coursecompletion" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/course/completion.php?id=230" tabindex="-1">
                                                            コース完了
                                                        </a>
                                            </li><li data-key="badgesview" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/badges/view.php?type=2&amp;id=230" tabindex="-1">
                                                            バッジ
                                                        </a>
                                            </li><li data-key="filtermanagement" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/filter/manage.php?contextid=2506" tabindex="-1">
                                                            フィルタ
                                                        </a>
                                            </li><li data-key="unenrolself" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/enrol/manual/unenrolself.php?enrolid=859" tabindex="-1">
                                                            このコースから私を登録解除する
                                                        </a>
                                            </li><li data-key="coursetools" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/mod/lti/coursetools.php?id=230" tabindex="-1">
                                                            LTI外部ツール
                                                        </a>
                                            </li><li data-key="15" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/admin/tool/brickfield/index.php?courseid=230" tabindex="-1">
                                                            アクセシビリティツールキット
                                                        </a>
                                            </li><li data-key="tool_certificate" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/admin/tool/certificate/manage_templates.php?courseid=230" tabindex="-1">
                                                            認定証
                                                        </a>
                                            </li><li data-key="18" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/local/feedbackviewer/index.php?id=230" tabindex="-1">
                                                            フィードバックビューア
                                                        </a>
                                            </li><li data-key="coursereuse" class="nav-item" role="none" data-forceintomoremenu="true">
                                                        <a role="menuitem" class="dropdown-item" href="https://lms.waomirai.com/backup/import.php?id=230" tabindex="-1">
                                                            コース再利用
                                                        </a>
                                            </li></ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                <div id="page-content" class="pb-3 d-print-block">
                    <div id="region-main-box">
                        <section id="region-main" aria-label="コンテンツ">

                            <span class="notifications" id="user-notifications"></span>
                            <div role="main"><span id="maincontent"></span><div class="tool_catalogue-catalogue course">

        <div class="my-3" data-region="catalogue-pagesection">
        <div class="d-flex align-items-start position-relative">
            <a role="button" data-toggle="collapse" href="#covercollapsec-about" aria-expanded="true" aria-controls="covercollapsec-about" class="btn btn-icon mr-1 icons-collapse-expand stretched-link justify-content-center" aria-label="コース概要">
            <span class="expanded-icon icon-no-margin p-2" title="折りたたむ">
                <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true"></i>
            </span>
            <span class="collapsed-icon icon-no-margin p-2" title="展開する">
                <span class="dir-rtl-hide"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i></span>
                <span class="dir-ltr-hide"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i></span>
            </span>
            </a>
            <h3 class="h5 d-flex align-self-stretch align-items-center mb-0" data-region="pagesection-name">
                コース概要
            </h3>
            <div class="d-none d-sm-flex align-self-stretch align-items-center text-muted addon"></div>
        </div>
        <div id="covercollapsec-about" class="pagesectioncontent collapse show">
            <div class="mt-2">    
                <div class="mb-2">
            
                </div>
                    <div class="customfield customfield_is_payment">
                        <span class="customfieldname">決済用コース</span><span class="customfieldseparator">: </span><span class="customfieldvalue">No</span>
                    </div>
                    <div class="customfield customfield_kenaimandatory">
                        <span class="customfieldname">受講必須</span><span class="customfieldseparator">: </span><span class="customfieldvalue">No</span>
                    </div>
    </div>
        </div>
    </div>

        <div class="my-3" data-region="catalogue-pagesection">
        <div class="d-flex align-items-start position-relative">
            <a role="button" data-toggle="collapse" href="#covercollapsec-dates" aria-expanded="true" aria-controls="covercollapsec-dates" class="btn btn-icon mr-1 icons-collapse-expand stretched-link justify-content-center" aria-label="コース期間">
            <span class="expanded-icon icon-no-margin p-2" title="折りたたむ">
                <i class="icon fa fa-chevron-down fa-fw " aria-hidden="true"></i>
            </span>
            <span class="collapsed-icon icon-no-margin p-2" title="展開する">
                <span class="dir-rtl-hide"><i class="icon fa fa-chevron-right fa-fw " aria-hidden="true"></i></span>
                <span class="dir-ltr-hide"><i class="icon fa fa-chevron-left fa-fw " aria-hidden="true"></i></span>
            </span>
            </a>
            <h3 class="h5 d-flex align-self-stretch align-items-center mb-0" data-region="pagesection-name">
                コース期間
            </h3>
            <div class="d-none d-sm-flex align-self-stretch align-items-center text-muted addon"></div>
        </div>
        <div id="covercollapsec-dates" class="pagesectioncontent collapse show">
            <div class="mt-2">            <div>
                    <strong>開始日：</strong> 24/12/05
                </div>
                    <div>
                        <strong>終了日：</strong> 25/12/05
                    </div>
    </div>
        </div>
    </div>


    </div><div id="wp-site-status-disclaimer">
            あなたのサイトはまだ登録されていません。
                <a href="https://lms.waomirai.com/admin/registration/index.php">あなたのサイトを登録する</a>
        </div></div>
                            
                            

                        </section>
                    </div>
                </div>
            </div>
                <div id="goto-top-link">
                    <a class="btn btn-light" role="button" href="#" id="backToTop" style="display:none">
                        <i class="icon fa fa-arrow-up fa-fw " title="トップへ戻る" role="img" aria-label="トップへ戻る" aria-hidden="true"></i><span class="sr-only">トップへ戻る</span>
                    </a>
                </div>
            
            <footer id="page-footer" class="footer-popover bg-white">
                <div data-region="footer-container-popover">
                    <button class="btn btn-icon bg-secondary icon-no-margin btn-footer-popover" data-action="footer-popover" aria-label="フッタを表示する" data-original-title="" title="">
                        <i class="icon fa fa-question fa-fw " aria-hidden="true"></i>
                    </button>
                </div>
                <div class="footer-content-popover container" data-region="footer-content-popover">
                        <div class="footer-section p-3 border-bottom">
            
                                <div><a target="_blank" href="https://moodle.com/help/?utm_source=CTA-banner&amp;utm_medium=platform&amp;utm_campaign=name~Moodle4+cat~lms+mp~no"><i class="icon fa fa-life-ring fa-fw fa fa-life-ring" aria-hidden="true"></i>サービスおよびサポート<i class="icon fa fa-external-link fa-fw ml-1" title="新しいウィンドウで開く" role="img" aria-label="新しいウィンドウで開く" aria-hidden="true"></i><span class="sr-only">新しいウィンドウで開く</span></a></div>
            
                                <div><a href="https://lms.waomirai.com/user/contactsitesupport.php"><i class="icon fa fa-envelope-o fa-fw " aria-hidden="true"></i></a><a href="https://go.waomirai.com/contact" target="_blank">サポートに連絡</a></div>
                        </div>
                    <div class="footer-section p-3 border-bottom">
                        <div class="logininfo">
                            <div class="logininfo">ログインユーザー名：<a href="https://lms.waomirai.com/user/profile.php?id=9" title="プロファイルを表示する">株式会社ワオ・コーポレーション サイト管理者</a> さん (<a href="https://lms.waomirai.com/login/logout.php?sesskey=Z3o5cAXP3q">ログアウト</a>)</div>
                        </div>
                        <div class="tool_usertours-resettourcontainer">
                        </div>
            
                        
                        
    <br><p><a href="https://lms.waomirai.com/course/view.php?id=112" target="_blank" style="text-decoration: revert-layer;">＞よくあるご質問（お問い合わせ）</a></p>
    <p><a href="https://waomirai.com/commerce_law" target="_blank" style="text-decoration: revert-layer;">＞特許商取引法に基づく表記<i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i></a></p>
    <p><a href="https://www.wao-corp.com/privacy/" target="_blank" style="text-decoration: revert-layer;">＞プライバシーポリシー<i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i></a></p>
    <p><a href="https://go.waomirai.com/terms" target="_blank" style="text-decoration: revert-layer;">＞利用規約<i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i></a></p>
    <a href="https://lms.waomirai.com/?tenant=lmswaomirai"><img src="https://go.waomirai.com/l/1026513/2023-11-16/gddzt/1026513/1700192228BDlbz92f/logo_basic_white.png" width="60%"></a>
    <script>
    //<![CDATA[
    var require = {
        baseUrl : 'https://lms.waomirai.com/lib/requirejs.php/1733297073/',
        // We only support AMD modules with an explicit define() statement.
        enforceDefine: true,
        skipDataMain: true,
        waitSeconds : 0,

        paths: {
            jquery: 'https://lms.waomirai.com/lib/javascript.php/1733297073/lib/jquery/jquery-3.7.1.min',
            jqueryui: 'https://lms.waomirai.com/lib/javascript.php/1733297073/lib/jquery/ui-1.13.2/jquery-ui.min',
            jqueryprivate: 'https://lms.waomirai.com/lib/javascript.php/1733297073/lib/requirejs/jquery-private'
        },

        // Custom jquery config map.
        map: {
        // '*' means all modules will get 'jqueryprivate'
        // for their 'jquery' dependency.
        '*': { jquery: 'jqueryprivate' },
        // Stub module for 'process'. This is a workaround for a bug in MathJax (see MDL-60458).
        '*': { process: 'core/first' },

        // 'jquery-private' wants the real jQuery module
        // though. If this line was not here, there would
        // be an unresolvable cyclic dependency.
        jqueryprivate: { jquery: 'jquery' }
        }
    };

    //]]>
    </script>
    <script src="https://lms.waomirai.com/lib/javascript.php/1733297073/lib/requirejs/require.min.js"></script>
    <script>
    //<![CDATA[
    M.util.js_pending("core/first");
    require(['core/first'], function() {
    require(['core/prefetch'])
    ;
    M.util.js_pending('filter_mathjaxloader/loader'); require(['filter_mathjaxloader/loader'], function(amd) {amd.configure({"mathjaxconfig":"\nMathJax.Hub.Config({\n    config: [\"Accessible.js\", \"Safe.js\"],\n    errorSettings: { message: [\"!\"] },\n    skipStartupTypeset: true,\n    messageStyle: \"none\"\n});\n","lang":"ja"}); M.util.js_complete('filter_mathjaxloader/loader');});;
    require(["media_videojs/loader"], function(loader) {
        loader.setUp('ja');
    });;
    M.util.js_pending('core_courseformat/courseeditor'); require(['core_courseformat/courseeditor'], function(amd) {amd.setViewFormat("230", {"editing":false,"supportscomponents":true,"statekey":"1733361451_1733375763","overriddenStrings":[{"component":"format_topics","key":"sectionavailability_title"},{"component":"format_topics","key":"sectiondelete_title"},{"component":"format_topics","key":"sectionsdelete_title"},{"component":"format_topics","key":"sectionsdelete_info"},{"component":"format_topics","key":"sectionmove_title"},{"component":"format_topics","key":"sectionsavailability_title"},{"component":"format_topics","key":"sectionsmove_title"},{"component":"format_topics","key":"sectionsmove_info"},{"component":"format_topics","key":"selectsection"}]}); M.util.js_complete('core_courseformat/courseeditor');});;

    require(['core_courseformat/local/courseindex/placeholder'], function(component) {
        component.init('course-index-placeholder');
    });
    ;

    require(['core_courseformat/local/courseindex/drawer'], function(component) {
        component.init('courseindex');
    });
    ;
    M.util.js_pending('theme_kenai/gototop'); require(['theme_kenai/gototop'], function(amd) {amd.init(); M.util.js_complete('theme_kenai/gototop');});;

        require(['core/moremenu'], function(moremenu) {
            moremenu(document.querySelector('#moremenu-67513a8dd84c4-navbar-nav'));
        });
    ;

    require(['jquery', 'message_popup/notification_popover_controller'], function($, Controller) {
        var container = $('#nav-notification-popover-container');
        var controller = new Controller(container);
        controller.registerEventListeners();
        controller.registerListNavigationEventListeners();
    });
    ;

        require(['core/usermenu'], function(UserMenu) {
            UserMenu.init();
        });
    ;

    require(['core/edit_switch'], function(editSwitch) {
        editSwitch.init('67513a8ddf0cf67513a8dd96395-editingswitch');
    });
    ;

    require(['theme_boost/drawers']);
    ;

        require(['theme_boost/courseindexdrawercontrols'], function(component) {
        component.init('courseindexdrawercontrols');
        });
    ;

    require(['theme_boost/drawers']);
    ;

        require(['core/moremenu'], function(moremenu) {
            moremenu(document.querySelector('#moremenu-67513a8dd839a-nav-tabs'));
        });
    ;

    require(['theme_boost/footer-popover'], function(FooterPopover) {
        FooterPopover.init();
    });
    ;

    M.util.js_pending('theme_boost/loader');
    require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
        Drawer.init();
        M.util.js_complete('theme_boost/loader');
    });
    ;

    require(['tool_catalogue/coursecover'], function(courseCover) {
        courseCover.init('230', '9');
    });
    ;
    M.util.js_pending('theme_kenai/forcedfooter'); require(['theme_kenai/forcedfooter'], function(amd) {amd.init("<div id=\"forced-footer\">\n    \u00a9\ufe0fWAO CORPORATION\n<\/div>"); M.util.js_complete('theme_kenai/forcedfooter');});;
    M.util.js_pending('core/notification'); require(['core/notification'], function(amd) {amd.init(2506, []); M.util.js_complete('core/notification');});;
    M.util.js_pending('core/log'); require(['core/log'], function(amd) {amd.setConfig({"level":"warn"}); M.util.js_complete('core/log');});;
    M.util.js_pending('core/page_global'); require(['core/page_global'], function(amd) {amd.init(); M.util.js_complete('core/page_global');});;
    M.util.js_pending('core/utility'); require(['core/utility'], function(amd) {M.util.js_complete('core/utility');});
        M.util.js_complete("core/first");
    });
    //]]>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js?delayStartupUntil=configured"></script>
    <script>
    //<![CDATA[
    M.str = {"moodle":{"lastmodified":"\u6700\u7d42\u66f4\u65b0\u65e5\u6642","name":"\u540d\u79f0","error":"\u30a8\u30e9\u30fc","info":"\u60c5\u5831","yes":"Yes","no":"No","cancel":"\u30ad\u30e3\u30f3\u30bb\u30eb","confirm":"\u78ba\u8a8d","areyousure":"\u672c\u5f53\u306b\u3088\u308d\u3057\u3044\u3067\u3059\u304b?","closebuttontitle":"\u9589\u3058\u308b","unknownerror":"\u4e0d\u660e\u306a\u30a8\u30e9\u30fc","file":"\u30d5\u30a1\u30a4\u30eb","url":"URL","collapseall":"\u3059\u3079\u3066\u3092\u6298\u308a\u305f\u305f\u3080","expandall":"\u3059\u3079\u3066\u3092\u5c55\u958b\u3059\u308b"},"repository":{"type":"\u30bf\u30a4\u30d7","size":"\u30b5\u30a4\u30ba","invalidjson":"\u7121\u52b9\u306aJSON\u30b9\u30c8\u30ea\u30f3\u30b0\u3067\u3059\u3002","nofilesattached":"\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u308b\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u308a\u307e\u305b\u3093\u3002","filepicker":"\u30d5\u30a1\u30a4\u30eb\u30d4\u30c3\u30ab","logout":"\u30ed\u30b0\u30a2\u30a6\u30c8","nofilesavailable":"\u5229\u7528\u3067\u304d\u308b\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u308a\u307e\u305b\u3093\u3002","norepositoriesavailable":"\u7533\u3057\u8a33\u3054\u3056\u3044\u307e\u305b\u3093\u3001\u73fe\u5728\u306e\u3042\u306a\u305f\u306e\u30ea\u30dd\u30b8\u30c8\u30ea\u3067\u306f\u6240\u8981\u306e\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u306e\u30d5\u30a1\u30a4\u30eb\u3092\u8fd4\u3059\u3053\u3068\u304c\u3067\u304d\u307e\u305b\u3093\u3002","fileexistsdialogheader":"\u30d5\u30a1\u30a4\u30eb\u767b\u9332\u6e08\u307f","fileexistsdialog_editor":"\u305d\u306e\u30d5\u30a1\u30a4\u30eb\u540d\u306e\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u306a\u305f\u304c\u7de8\u96c6\u3057\u3066\u3044\u308b\u30c6\u30ad\u30b9\u30c8\u306b\u3059\u3067\u306b\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u307e\u3059\u3002","fileexistsdialog_filemanager":"\u540c\u4e00\u30d5\u30a1\u30a4\u30eb\u540d\u306e\u30d5\u30a1\u30a4\u30eb\u304c\u3059\u3067\u306b\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u307e\u3059\u3002","renameto":"\u30ea\u30cd\u30fc\u30e0 -> {$a}","referencesexist":"\u3053\u306e\u30d5\u30a1\u30a4\u30eb\u306b\u306f {$a} \u4ef6\u306e\u30ea\u30f3\u30af\u304c\u3042\u308a\u307e\u3059\u3002","select":"\u9078\u629e"},"admin":{"confirmdeletecomments":"\u672c\u5f53\u306b\u9078\u629e\u3057\u305f\u30b3\u30e1\u30f3\u30c8\u3092\u524a\u9664\u3057\u3066\u3082\u3088\u308d\u3057\u3044\u3067\u3059\u304b?","confirmation":"\u78ba\u8a8d"},"debug":{"debuginfo":"\u30c7\u30d0\u30c3\u30b0\u60c5\u5831","line":"\u884c","stacktrace":"\u30b9\u30bf\u30c3\u30af\u30c8\u30ec\u30fc\u30b9"},"langconfig":{"labelsep":":"}};
    //]]>
    </script>
    <script>
    //<![CDATA[
    (function() {M.util.help_popups.setup(Y);
    M.util.js_pending('random67513a8dd96396'); Y.on('domready', function() { M.util.js_complete("init");  M.util.js_complete('random67513a8dd96396'); });
    })();
    //]]>
    </script>

                    </div>
                    <div class="footer-section p-3">
                        <span>Powered by</span>
                        <a href="https://moodle.com/workplace/" target="_blank">
                            Moodle Workplace
                        </a>
                    </div>
                </div>
            
                <div class="footer-content-debugging footer-dark bg-dark text-light">
                    <div class="container-fluid footer-dark-inner">
                        
                    </div>
                </div>
            </footer>
        </div>
        
    <div><div id="forced-footer">
        ©️WAO CORPORATION
    </div></div></div><div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important" class=""></div>


    <script type="text/javascript" id="" charset="">piAId="1027513";piCId="";piHostname="go.waomirai.com";(function(){function b(){var a=document.createElement("script");a.type="text/javascript";a.src=("https:"==document.location.protocol?"https://":"http://")+piHostname+"/pd.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}window.attachEvent?window.attachEvent("onload",b):window.addEventListener("load",b,!1)})();</script><div style="display: none; visibility: hidden;"><script async="null" src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>window.yjDataLayer=window.yjDataLayer||[];function ytag(){yjDataLayer.push(arguments)}ytag({type:"yss_retargeting",config:{yahoo_ss_retargeting_id:"1001324905",yahoo_sstag_custom_params:{}}});</script></div><div style="display: none; visibility: hidden;">
    <script>!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","991613366033962");fbq("track","PageView");</script>
    <noscript></noscript>
    </div><iframe height="0" width="0" style="display: none; visibility: hidden;"></iframe><div style="display: none; visibility: hidden;">
    <script>!function(d,g,e){d.TiktokAnalyticsObject=e;var a=d[e]=d[e]||[];a.methods="page track identify instances debug on off once ready alias group enableCookie disableCookie holdConsent revokeConsent grantConsent".split(" ");a.setAndDefer=function(b,c){b[c]=function(){b.push([c].concat(Array.prototype.slice.call(arguments,0)))}};for(d=0;d<a.methods.length;d++)a.setAndDefer(a,a.methods[d]);a.instance=function(b){b=a._i[b]||[];for(var c=0;c<a.methods.length;c++)a.setAndDefer(b,a.methods[c]);return b};a.load=
    function(b,c){var f="https://analytics.tiktok.com/i18n/pixel/events.js";a._i=a._i||{};a._i[b]=[];a._i[b]._u=f;a._t=a._t||{};a._t[b]=+new Date;a._o=a._o||{};a._o[b]=c||{};c=document.createElement("script");c.type="text/javascript";c.async=!0;c.src=f+"?sdkid\x3d"+b+"\x26lib\x3d"+e;b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(c,b)};a.load("CQUN883C77U0JHDT5O1G");a.page()}(window,document,"ttq");</script>
    </div><iframe allow="join-ad-interest-group" data-tagging-id="AW-16476562618" data-load-time="1733376656219" height="0" width="0" src="https://td.doubleclick.net/td/rul/16476562618?random=1733376656217&amp;cv=11&amp;fst=1733376656217&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be4c30z89171708627za201zb9171708627&amp;gcd=13l3l3l3l1l1&amp;dma=0&amp;tag_exp=101925629~102067555~102067808~102081485&amp;u_w=1470&amp;u_h=956&amp;url=https%3A%2F%2Flms.waomirai.com%2Fadmin%2Ftool%2Fcatalogue%2Fcourseinfo.php%3Fid%3D230&amp;ref=https%3A%2F%2Flms.waomirai.com%2Fcourse%2Fedit.php%3Fid%3D230%26returnto%3Dcatmanage&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=%E3%83%86%E3%82%B9%E3%83%88%E3%83%9A%E3%83%BC%E3%82%B8%EF%BC%88%E5%9B%BA%E5%AE%9A%E3%83%9A%E3%83%BC%E3%82%B8%E6%A4%9C%E8%A8%BC%EF%BC%89%20%7C%20stg&amp;npa=0&amp;pscdl=noapi&amp;auid=1264973390.1732841681&amp;uaa=arm&amp;uab=64&amp;uafvl=Google%2520Chrome%3B131.0.6778.86%7CChromium%3B131.0.6778.86%7CNot_A%2520Brand%3B24.0.0.0&amp;uamb=0&amp;uam=&amp;uap=macOS&amp;uapv=14.6.1&amp;uaw=0&amp;fledge=1" style="display: none; visibility: hidden;"></iframe><deepl-input-controller></deepl-input-controller></body>