mixin enrol-howto-register
  .enrol-section
    h2.enrol-title
        |受講開始までの流れ
    .enrol-section-howto
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8y/1026513/1736840429VWwIq1bF/icn_howto_take_01_.svg') 
        .enrol-section-howto-text
            .enrol-step-lbl Step 01
            .enrol-step-heading お申し込み 
            .enrol-step-desc 右上の「購入ボタン」をクリック！
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8n/1026513/1736840429i4PzMZVA/icn_howto_take_02_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 02
            .enrol-step-heading クレジットカードをご登録ください。
            .enrol-step-desc 無料期間でご解約の場合、費用は一切かかりません。
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8r/1026513/17368404298FLRn488/icn_howto_take_03_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 03
            .enrol-step-heading 科目のレベルを設定する
            .enrol-step-desc 受講する教科と科目をご登録ください。※科目をご登録いただかないと、授業を受けることができません
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8v/1026513/1736840429DClvzQYZ/icn_howto_take_04_.svg') 
        .enrol-section-howto-text   
            .enrol-step-lbl Step 04
            .enrol-step-heading LINEでお友だち追加
            .enrol-step-desc お申込後、完了画面からLINEの友だち登録をしてください。※事務局からのご連絡はLINEでお送りするため、必ずご登録ください。
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8c/1026513/17368404286eVQw7uq/icn_howto_take_05_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 05
            .enrol-step-heading 「学習カレンダー」で予定確認
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8g/1026513/17368404287Nzz5sbO/icn_howto_take_06_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 06
            .enrol-step-heading 当日、授業を受ける

mixin enrol-recommend-subject
 .enrol-section.enrol-recommend-subject
    h2.enrol-title
        |他の授業科目も見る
    .enrol-index-contents-block-cards
        //- 哲学のカード（philosophyカテゴリー以外で表示）
        if enrolpage.category !== 'philosophy'
            .common-contents-block-cards-course
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                        img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbj/1026513/1723092444vFKe6VRn/subject_01.jpg')
                .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-philosophy
                        .common-contents-block-cards-course-detail-title
                            |哲学（思考力）
                        .common-contents-block-cards-course-detail-text
                            |自分で考える力を鍛える
                //moodleの仕様でaタグでdivタグ囲むとバグるのでabsluteでリンクを貼る
                .common-contents-block-cards-course-link
                            a(href=link_philosophy)
                             

        //- 科学のカード（scienceカテゴリー以外で表示）
        if enrolpage.category !== 'science'
            .common-contents-block-cards-course
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbx/1026513/1723092445qaV639ZU/subject_02.jpg')
                .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-science
                        .common-contents-block-cards-course-detail-title
                            |科学リテラシー
                        .common-contents-block-cards-course-detail-text
                            |知らない世界にも視野を広げ、知的好奇心を育む
                //moodleの仕様でaタグでdivタグ囲むとバグるのでabsluteでリンクを貼る
                .common-contents-block-cards-course-link
                          a(href=link_science)
                           

        //- 経済のカード（economyカテゴリー以外で表示）
        if enrolpage.category !== 'economy'
            .common-contents-block-cards-course
                .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
                    .common-contents-block-cards-course-img-detail
                    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbt/1026513/1723092445zMMVlFVz/subject_03.jpg')
                .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-economy
                        .common-contents-block-cards-course-detail-title
                            |経済（お金）
                        .common-contents-block-cards-course-detail-text
                            |お金の基礎知識と考え方・付き合い方を身につける
                //moodleの仕様でaタグでdivタグ囲むとバグるのでabsluteでリンクを貼る
                .common-contents-block-cards-course-link
                            a(href=link_economy)
                              
        //- 英語のカード（englishカテゴリー、２科目、３科目以外で表示）
        if category === 'english' || category === 'twosubjectpack' || category === 'threesubjectpack'
            .common-contents-block-cards-course
                .common-contents-block-cards-course-img
                    img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbq/1026513/1723092445NpS1HkfH/subject_04.jpg')
                .common-contents-block-cards-course-detail
                    .common-contents-block-cards-course-detail-wrap.block-english
                        .common-contents-block-cards-course-detail-title
                            |グローバル英語
                        .common-contents-block-cards-course-detail-text
                            |シンプルで実用的な英語を使いこなす
                //moodleの仕様でaタグでdivタグ囲むとバグるのでabsluteでリンクを貼る
                .common-contents-block-cards-course-link
                            a(href=link_english)
        //- プログラミングのカード
        //- a(href=link_programming).common-contents-block-cards-course.click-event-subject-comingsoon
        //-     .common-contents-block-cards-course-img.common-contents-block-cards-course-img-overlay
        //-         .common-contents-block-cards-course-img-text 
        //-             |2025年4月開講予定
        //-         .common-contents-block-cards-course-img-detail
        //-             img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbm/1026513/1723092444UDZaTUyz/subject_05.jpg')
        //-     .common-contents-block-cards-course-detail
        //-         .common-contents-block-cards-course-detail-wrap.block-programming
        //-             .common-contents-block-cards-course-detail-title 
        //-                 |クリエイティブ・プログラミング
        //-             .common-contents-block-cards-course-detail-text 
        //-                 |子どもの習いごとで終わらせない！