//教科データを取得
include ../_subject_data.pug

// セクション:25年9月末まで無料キャンペーン
+enrol-campaign-banner

// セクション1: 今月の授業
+enrol-lesson-month

// セクション2: 年間の授業カリキュラム
+enrol-lesson-year

// セクション3: 時間割
.enrol-section
  h2.enrol-title 時間割
  .enrol-subtitle|※各授業は同じ内容を週に2回配信します。どちらかをご受講ください。
  //以下はstaticのデータ
  .enrol-section-basesubject-timetable
    .enrol-section-basesubject-timetable-head
     .enrol-section-basesubject-timetable-head-child
       |
     .enrol-section-basesubject-timetable-head-child.c-sp-hidden
       |日
     .enrol-section-basesubject-timetable-head-child
       |月
     .enrol-section-basesubject-timetable-head-child
       |火
     .enrol-section-basesubject-timetable-head-child
       |水
     .enrol-section-basesubject-timetable-head-child
       |木 
     .enrol-section-basesubject-timetable-head-child
       |金
     .enrol-section-basesubject-timetable-head-child.c-sp-hidden
       |土
    each slot in timeslots[enrolpage.category]
      .enrol-section-basesubject-timetable-content
        .enrol-section-basesubject-timetable-content-child
          .enrol-section-basesubject-timetable-content-child-start= slot.time.split(' - ')[0] 
          .enrol-section-basesubject-timetable-content-child-end= slot.time.split(' - ')[1] 
        
        each daySchedule, index in slot.schedule
          //スマホで土曜と日曜日は非表示
          .enrol-section-basesubject-timetable-content-child(
              class=`${daySchedule.subject ? 'active' : ''} ${index === 0 || index === 6 ? 'c-sp-hidden' : ''}`
          )
            if daySchedule.subject
              .enrol-section-basesubject-timetable-content-child-level
                    |レベル
                    span=daySchedule.level 
              .enrol-section-basesubject-timetable-content-child-grade
                  if daySchedule.level === 1
                    |(小3,4)
                  else if daySchedule.level === 2
                    |(小5,6)
                  else if daySchedule.level === 3
                    |(中学生)
                  else if daySchedule.level === 4
                    |(高校生)  
            else
              span.none
                | -

// セクション4: 年間の開催スケジュール
+enrol-lesson-googlecalender

// セクション5: 受講費
.enrol-section.coursedetail-info
  .coursedetail-info-inner
    h2.enrol-title 受講費用

    //----- 授業コース -----
    .box-container
      //----- 受講費用 -----
      .coursedetail-info-fee
        p.coursedetail-info-fee-price
          span.price ¥6,600
          span.small-text /月(税込)

        .coursedetail-info-fee-benefits
          .grid-child ✔︎ 入会金無料
          .grid-child ✔︎ 課題の提出
          .grid-child ✔︎ 前月配信のアーカイブ授業の視聴
          .grid-child ✔︎ いつでも退会可能

// 受講開始までの流れ
+enrol-howto-register

// 他の授業科目も見る
+enrol-recommend-subject
